/* My Account Desktop */
#account .contact-card {
    margin: 0 0 100px 0;
    padding: 0;
}

#account .contact-card h3 {
    margin: 15px 0;
}

#account .contact-person {
    top: 100px;
}

@media screen and (min-width: 1200px) {
    #account .contact-person {
        display: -webkit-box !important;
    }
}

#account .card {
    border: 1px solid #ccc;
    box-shadow: none;
    transform: none;
    padding: 20px;
    margin: 0;
    font-size: 14px;
}

@media screen and (max-width: 991px) {
    #account .card {
        border: none;
        padding: 0;
    }
}

#account table {
    margin-top: 100px;
    margin-bottom: 40px;
}

#account table tr td:nth-child(1) {
    font-family: 'Roboto Medium', Arial, sans-serif;
    padding: 15px 0 15px 40px;
    width: 35%;
}

#account table tr td:nth-child(2) {
    width: 65%;
    padding: 15px 20px 15px 0;
}

/* My Account Mobile */
@media screen and (max-width: 767px) {
    #account .contact-card-mobile {
        max-height: 140px;
        margin-bottom: 160px;
    }

    #account .contact-person {
        display: block !important;
    }
}

#account .list-group {
    border: none;
    padding: 0;
}

#account .list-group-item {
    border-top: 1px solid #E6E6E6;
    margin: 0;
    padding: 15px 0;
    background-image: url('../img/icons/next.png');
    background-size: 14px;
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
}

#account .list-group-item a {
    color: #343434;
}

#account .list-group-item a:hover {
    text-decoration: none;
    color: #07689f;
}

/* Edit Profile */
#account .icon-upload {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

/* Histori Transaksi */
#daterange {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 15px;
    display: inline-block;
    margin-bottom: 20px;
}

#daterange input {
    border: none;
    margin-left: 15px;
    font-size: 14px;
}

#account .card .badge-primary {
    color: #2B90C9;
    background: #DEF0FB;
    border-radius: 3px;
    padding: 7px 14px;
    font-family: 'Roboto Light', Arial, sans-serif;
}

#account .card span.title {
    margin-bottom: 15px;
    display: block;
}

#account .transaction-card {
    border: 1px solid #ccc !important;
    box-shadow: none;
    transform: none;
    padding: 20px;
    margin: 10px 0;
    font-size: 14px;
}

#account .transaction-card .separator {
    border-right: 1px solid #ccc;
}

@media screen and (max-width: 767px) {
    #account .transaction-card .separator {
        border: none;
    }
}

#account .transaction-card .separator:last-of-type {
    border: none;
}

#account .course-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    margin: 0;
}

#account .course-item:last-of-type {
    border: none;
}

#account .btn-yellow {
    margin: 10px 0;
    border: 1px solid #FFC93C;
    background: #FFC93C;
    color: #343434;
    font-size: 14px;
    padding: 7px 31px;
    font-family: 'Montserrat Semibold', Arial, sans-serif;
    display: inline-block;
}