#mobile-menu {
    background: #fff;
    padding: 0;
    box-shadow: 0 0 20px 0 hsl(0deg 0% 74% / 75%);
}

#mobile-menu .nav-link.active {
    color: #07689F;
}

#mobile-menu .nav-link {
    font-size: 14px;
    color: #ccc;
}

#mobile-menu .nav-link:hover {
    color: #07689F;
    transition: .3s;
}

.icon-mobile-home {
    background: url('../img/icons/mobile-menu/home_active.png');
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto 5px auto;
}

.icon-mobile-book {
    background: url('../img/icons/mobile-menu/book.png');
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto 5px auto;
}

#mobile-menu .nav-link:hover .icon-mobile-book {
    background: url('../img/icons/mobile-menu/book_active.png') !important;
    background-size: 24px !important;
    width: 24px !important;
    height: 24px !important;
    display: block !important;
    margin: 0 auto 5px auto !important;
    transition: .3s;
}

.icon-mobile-keranjang {
    background: url('../img/icons/mobile-menu/keranjang.png');
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto 5px auto;
}

#mobile-menu .nav-link:hover .icon-mobile-keranjang {
    background: url('../img/icons/mobile-menu/keranjang_active.png') !important;
    background-size: 24px !important;
    width: 24px !important;
    height: 24px !important;
    display: block !important;
    margin: 0 auto 5px auto !important;
    transition: .3s;
}

.icon-mobile-akun {
    background: url('../img/icons/mobile-menu/akun.png');
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto 5px auto;
}

#mobile-menu .nav-link:hover .icon-mobile-akun {
    background: url('../img/icons/mobile-menu/akun_active.png') !important;
    background-size: 24px !important;
    width: 24px !important;
    height: 24px !important;
    display: block !important;
    margin: 0 auto 5px auto !important;
    transition: .3s;
}

.icon-mobile-lainnya {
    background: url('../img/icons/mobile-menu/lainnya.png');
    background-size: 24px;
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto 5px auto;
}

#mobile-menu .nav-link:hover .icon-mobile-lainnya {
    background: url('../img/icons/mobile-menu/lainnya_active.png') !important;
    background-size: 24px !important;
    width: 24px !important;
    height: 24px !important;
    display: block !important;
    margin: 0 auto 5px auto !important;
    transition: .3s;
}