.card-container {
    margin-top: 60px;
    margin-bottom: 60px;
}

@media only screen and (max-width: 576px) {
    .card-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
    .card-container {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}


.card-container-blue {
    background: #A2D5F2;
    padding: 1px 0;
}

.card-container h4 {
    color: #343434;
}

.card-container-blue h4 {
    color: #07689F;
}

.link-viewall {
    color: #07689F;
    font-size: 14px;
}

.link-viewall:hover {
    color: #07689F;
    transition: .3s;
}

.card-container .owl-carousel {
    margin: 15px 0;
}

.card-container .owl-carousel .owl-stage-outer { 
    overflow: visible;
}
    
.card-container .owl-carousel .owl-item {
    opacity: 0;
    transition: opacity 500ms;
}

.card-container .owl-carousel .owl-item.active {
    opacity: 1;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 20px 0 hsl(0deg 0% 74% / 75%);
    border:none;
    margin: 15px 0;
}

.card:hover {
    transform: scale(1.05);
    transition: .3s;
}

@media only screen and (max-width: 576px) {
    .card-container .owl-carousel .owl-stage{
        left:-30px !important;
    }
    .card-container .owl-carousel .owl-item {
        opacity: 1;
        transition: opacity 500ms;
    }
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 10px 15px;
}

.card-title {
    padding: 0;
    margin: 5px 0;
    color: #343434;
}

.card-title a {
    color: #343434;
}

.card-title a:hover {
    color: #07689F;
    transition: .3s;
    text-decoration: none;
}

.card-teacher {
    color: #9B9B9B;
    font-size: 14px;
    padding: 0;
    margin: 5px 0;
}

.card-packages {
    color: #9B9B9B;
    font-size: 14px;
    padding: 0;
    margin: 5px 0;
}

.card-info {
    color: #07689F;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0;
}

.card-info .card-icon {
    width: 14px !important;
    height: 14px !important;
    display: inline-block !important;
    margin-right: 5px;
    position: relative !important;
}

.card-price {
    margin: 5px 0;
    font-size: 20px;
    font-family: 'Montserrat Semibold', Arial, sans-serif;
    color: #343434;
}

.btn-detail {
    font-size: 14px;
    background: #2B90C9;
    color: #fff;
    margin: 10px 0;
}

.btn-detail:hover {
    background: #FFC93C;
    color: #343434 !important;
    transition: .3s;
}

/* Learning Path */
.learning-path {
    margin: 15px 0;
}

.learning-path a:hover {
    text-decoration: none;
}

.learning-path .image img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.learning-path .content {
    width: 75%;
}

.learning-path .description {
    padding-left: 0;
    padding-right: 0;
}

.learning-path .description {
    background-image: url('../img/icons/next.png');
    background-size: auto 21px;
    background-repeat: no-repeat;
    background-position: right 20px center;
}

@media screen and (max-width: 576px) {
    .learning-path .description {
        background-size: auto 18px;
    }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
    .learning-path .description {
        background-size: auto 24px;
    }
}

.learning-path .card-title {
    font-size: 16px;
    padding: 0;
    margin: 7px 0 3px 0;
    color: #343434;
}

.learning-path .card-total-courses {
    color: #9B9B9B;
    font-size: 14px;
    padding: 0;
    margin: 5px 0;
}

.learning-path .card-teacher {
    color: #9B9B9B;
    font-size: 14px;
    padding: 0;
    margin: 5px 0;
}

/* Course Lists */
.course-lists {
    margin: 15px 0;
}

.course-lists a {
    margin: 0;
    padding: 0;
    line-height: 0;
    display: inherit;
}

.course-lists a:hover {
    text-decoration: none;
}

.course-lists .image img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.course-lists .content {
    width: 90%;
}

.course-lists .description {
    padding: 7px 0 10px 0;
}

.course-lists .card-title {
    font-size: 16px;
    line-height: 21px;
    padding: 0;
    /* margin: 15px 0; */
    color: #343434;
}

.course-lists .card-total-courses {
    color: #9B9B9B;
    font-size: 14px;
    padding: 0;
    margin: 5px 0;
}

.course-lists .card-teacher {
    color: #9B9B9B;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    /* margin: 5px 0; */
}

.course-lists .card-packages {
    color: #9B9B9B;
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    /* margin: 5px 0; */
}

.course-lists .card-info {
    line-height: 24px;
}

.course-lists .card-price {
    margin: 2px 0;
    font-size: 16px;
    font-family: 'Montserrat Semibold', Arial, sans-serif;
    color: #343434;
}

.course-lists .btn-detail {
    font-size: 14px;
    background: #2B90C9;
    color: #fff;
    margin: 0;
}

.course-lists .btn-detail:hover {
    background: #FFC93C;
    color: #343434 !important;
    transition: .3s;
}

.course-lists .row-eq-height {
    display: table;
    width: 100%;
}

.course-lists .row-eq-height [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.course-lists .row-eq-height .image {
    width: 40%;
}

.course-lists .row-eq-height .image img {
    object-fit: cover;
    min-height: 140px;
}

.course-lists .row-eq-height .description {
    width: 60%;
}

@media screen and (max-width: 576px) {
    .course-lists .row-eq-height .image {
        width: 45%;
    }

    .course-lists .row-eq-height .description {
        width: 55%;
    }

    .course-lists .card-price {
        margin: 2px 0;
        font-size: 14px;
        font-family: 'Montserrat Semibold', Arial, sans-serif;
        color: #343434;
    }
}

/* Teacher Cards */
.card-expertise {
    color: #9B9B9B;
    font-size: 14px;
    padding: 0;
    margin: 5px 0;
}

.teacher-image {
    padding: 10px 0 10px 30px;
}

.teacher-description .link-detail {
    font-size: 14px;
    color: #07689F;
    margin: 0 0 7px 0;
    padding: 0;
    display: block;
}

/* Equal Height Cards */
/* .card-container .owl-carousel .owl-stage{display: flex;}
.card-container .card {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}
.card-container .card-body {
    position: relative;
    overflow: hidden;
    margin-bottom: -30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
} */