.menu-item {
    display: flex;
    align-items: center;
    margin: 15px 0;
    color: #343434 !important;
    font-size: 14px;
}

.menu-item:hover {
    color: #07689F !important;
    text-decoration: none;
}

.menu-item.mobile {
    display: block;
    text-align: center;
}

.menu-item img {
    width: 48px !important;
    float: left;
    margin-right: 10px;
}

.menu-item.mobile img {
    float: none;
    margin: auto;
}

.menu-item p {
    margin-top: revert;
}

.menu-item.mobile p {
    margin: 10px 0;
}
