#mobile-categories .dropdown-toggle {
    background: #FFC93C;
    border-radius: 7px;
    text-align: left;
}

#mobile-categories .dropdown-toggle::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}