#summary {
    background: #07689F;
    color: #fff;
    padding: 35px 0;
}

#summary .info {
    color: #fff;
    font-size: 13px;
    margin: 15px 0;
}

#summary .info .card-icon {
    width: 14px !important;
    height: 14px !important;
    display: inline-block !important;
    margin-right: 5px;
    position: relative !important;
}

#summary .video-player {
    border-radius: 15px;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

/* Course Info */
#info {
    margin-top: -25px;
}

#info .card {
    width: 80%;
    margin: auto;
    padding: 10px;
    font-size: 14px;
    font-family: 'Roboto Medium', Arial, sans-serif;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
}

@media screen and (max-width: 1199px) {
    #info .card {
        width: 90% !important;
        margin: auto;
        padding: 10px;
        font-size: 14px;
        font-family: 'Roboto Medium', Arial, sans-serif;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.25); 
    }
}

#info .card:hover {
    transform: none;
    transition: none;
}

#info .card .row [class^="col-"] {
    text-align: center;
    margin: auto 0;
}

#info .icon-mobile {
    width: 24px !important;
    height: 24px !important;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.js-read-more {
    font-size: 14px;
}

.read-more__link {
    font-size: 14px ;
    margin: 20px 0 !important;
    font-family: 'Roboto Medium', Arial, sans-serif;
}

/* Mobile */
@media screen and (max-width: 991px) {
    #summary {
        background: #fff;
        color: #343434;
        padding: 35px 0 0 0;
    }

    #summary h5 {
        margin-bottom: 20px;
    }
}

#summary .detail {
    margin: 30px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

#summary .detail h5 {
    margin-bottom: 5px;
}

#summary .detail .teacher {
    color: #9B9B9B;
    font-size: 14px;
    padding: 0;
    margin: 5px 0;
}

#summary .detail .teacher:hover {
    transform: none;
    transition: none;
}

#summary .detail-info {
    font-size: 12px;
}

#summary .detail-info .price h5 {
    font-family: 'Montserrat Semibold', Arial, sans-serif;
}

#summary .icon-mobile {
    width: 24px !important;
    height: 24px !important;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#summary .icon-mobile-small {
    width: 16px !important;
    height: 16px !important;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#summary .info-mobile {
    margin: auto 0;
}

#summary .description {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}