/* Header */
#topmenu {
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
    background: #fff;
    font-size: 14px;
}

#logo {
    max-width: 60px;
}

#topmenu .navbar-nav {
    margin: auto 0 auto 20px;
}

#searchbar {
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#searchbar.form-control {
    font-size: 14px;
    padding: .375rem .75rem;
    margin: 0;
}

#search {
    background: #07689F;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

#search:hover {
    background: #054b72;
}

#icon-search {
    width: 14px;
    height: 14px;
    background: url("/img/icons/search.png") no-repeat;
    background-size: 14px;
    display: inline-block;
    cursor: pointer;
    margin: auto 10px;
}

#icon-cart {
    width: 21px;
    height: 21px;
    background: url("/img/icons/cart.png") no-repeat;
    background-size: 21px;
    display: inline-block;
    cursor: pointer;
    margin: auto 20px auto 0;
}

#icon-cart:hover {
    width: 21px;
    height: 21px;
    background: url("/img/icons/cart-hover.png") no-repeat;
    background-size: 21px;
}

#topmenu .btn-signin {
    background: #07689F;
    color: #fff;
    font-size: 14px;
    padding: 7px 24px;
    margin-right: 10px;
}

#topmenu .btn-signin:hover {
    background: #FFC93C;
    color: #343434;
}

#topmenu .nav-link {
    font-family: 'Roboto', Arial, sans-serif;
    color: #343434 !important;
    font-size: 14px;
}

#topmenu .btn-signup {
    background: none;
    border: 1px solid #07689F;
    color: #07689F;
    font-size: 14px;
    padding: 7px 24px;
}

#topmenu .btn-signup:hover {
    background: #FFC93C;
    border: 1px solid #FFC93C;
    color: #343434 !important;
}

#topmenu .navbar-nav .dropdown-menu {
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
    border: none;
    position: absolute;
}

#topmenu .dropdown-item {
    color: #07689f;
    border-bottom: 1px solid #e6e6e6;
    font-size: 14px;
    padding: 8px 16px;
}

#topmenu .dropdown-item:active {
    background: none;
}

#topmenu .dropdown-item:last-child {
    border-bottom: none;
}

#topmenu a {
    color: #343434;
}

#topmenu a:hover {
    color: #07689F;
    text-decoration: none;
}