ul#contact {
    margin: 0;
    padding: 0;
}

ul#contact li {
    margin: 15px 0;
    font-size: 14px;
    padding-right: 15px;
    padding-bottom: 10px;
    list-style: none;
    padding-left: 40px;
}

ul#contact li.icon {
    background-size: 24px;
    background-repeat: no-repeat;
}

ul#contact li.icon-location {
    background-image: url('/img/icons/location.png');
}

ul#contact li.icon-phone {
    background-image: url('/img/icons/phone.png');
}

ul#contact li.icon-mail {
    background-image: url('/img/icons/mail.png');
}