@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Semibold';
    src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Cocogoose';
    src: url('/fonts/Cocogoose/Cocogoose\ Pro\ Semilight-trial.ttf');
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    color: #343434;
}

#content {
    overflow-x: hidden;
    margin-top: 65px;
}

.container-fluid {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Medium', Arial, sans-serif;
}

p {
    font-size: 14px;
}

.nopadding {
    padding: 0;
}

@media screen and (max-width: 576px) {
    .nopadding-xs {
        padding: 0;
    }

    h4 {
        font-size: 20px;
    }
}

.vertical-align {
    display: flex;
    align-items: center;
}

.center {
    margin: auto;
}

/* Bootstrap Vertical Align Center Modal */
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    width:inherit;
    max-width:inherit; 
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
}

/* Fix Bootstrap Modal */
@media screen and (max-width: 576px) {
    .modal {
        padding-left: 15px;
    }
}

/* Ordered Lists */
ol {
    margin: 0;
    padding-left: 15px;
}

ol li {
    margin-bottom: 15px;
    padding-left: 15px;
    font-size: 14px;
}