/* Mobile Searchbar */
#mobile-navbar {
    background-color: #07689F;
    background-repeat: no-repeat;
    background-image: url('/img/bg-header-mobile.png');
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    color: #fff;
}

#mobile-navbar .row {
    width: 100%;
    padding: 0;
    margin: 0;
}

#mobile-navbar h5 {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#mobile-navbar a {
    color: #fff;
}

@media screen and (max-width: 991px) {
    #content {
        margin-top: 54px !important;
        margin-bottom: 100px;
    }
}

#expanding-search {
    cursor: pointer;
    position: absolute;
    right: 0;
    transform: translate(0, -50%);
}

#expanding-search form input {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 0;
    margin: 0;
    height: 20px;
    float: right;
    outline: none;
    transition: all 0.3s ease;
    width: 20px;
}

#expanding-search form input::placeholder {
    color: transparent;
}

#expanding-search form input:focus {
    border-radius: 20px;
    border-width: 2px;
    cursor: text;
    height: 30px;
    line-height: 1.6;
    padding: 0 20px;
    width: 200px;
}

#expanding-search form input:focus::placeholder {
    color: #ffffff;
}

#expanding-search form label {
    background-color: #fff;
    bottom: -15px;
    display: block;
    right: 0;
    position: absolute;
    height: 12px;
    transform: rotate(-45deg);
    transition: all 0.3s ease;
    width: 3px;
    opacity: 1;
    left:unset;
    top:unset;
    padding:unset;
}

#expanding-search form input:focus + label {
    display: none;
}