/* Mobile Searchbar */
#mobile-navbar {
    background-color: #07689F;
    background-repeat: no-repeat;
    background-image: url('../img/bg-header-mobile.png');
    background-size: cover;
    padding-bottom: 140px !important;
    z-index: 0;
    position: static;
}

@media screen and (max-width: 576px) {
    #slider {
        margin-top: -65px !important;
        margin-bottom: 15px !important;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    #mobile-navbar {
        background-color: #07689F;
        background-repeat: no-repeat;
        background-image: url('../img/bg-header-mobile.png');
        background-size: cover;
        padding-bottom: 140px !important;
    }

    #slider {
        margin-top: -55px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #mobile-navbar {
        background-color: #07689F;
        background-repeat: no-repeat;
        background-image: url('../img/bg-header-mobile.png');
        background-size: cover;
        padding-bottom: 180px !important;
    }

    #slider {
        margin-top: -78px !important;
    }
}


@media screen and (max-width: 991px) {
    #content {
        margin-top: 0 !important;
        margin-bottom: 100px;
    }
}
