@media screen and (max-width: 576px) {
    .modal {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.modal-content {
    border: none;
    box-shadow: 0 0 20px 0 hsl(0deg 0% 50%);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.modal-content p {
    margin-bottom: 0;
}

.modal-footer {
    border: none;
    padding: 0;
}

.modal .btn-outline {
    margin: 10px 0;
    border: 1px solid rgba(204,204,204,0.75);
    color: #343434;
    font-size: 14px;
    padding: 7px 14px;
    font-family: 'Montserrat', Arial, sans-serif;
}

@media screen and (max-width: 991px) {
    .modal .btn-outline {
        margin-right: 10px;
    }
}

.modal .btn-outline:hover {
    border: 1px solid #FFC93C;
    background: #FFC93C;
    color: #343434;
    transition: .3s;
}

.modal .btn-yellow {
    margin: 10px 0;
    border: 1px solid #FFC93C;
    background: #FFC93C;
    color: #343434;
    font-size: 14px;
    padding: 7px 14px;
    font-family: 'Montserrat Semibold', Arial, sans-serif;
}

.modal .btn-yellow:hover {
    background: #07689F;
    border: 1px solid #07689F;
    color: #fff;
    transition: .3s;
}

/* Modal Bounce Animation */
.modal.fade.show .modal-dialog {
    animation: bounce 2s;
    -webkit-animation: bounce 2s;
    -moz-animation: bounce 2s;
    -o-animation: bounce 2s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }