.sidebar-overlay {
    width: 100%;
    height: 100%;
    z-index: 11;
    background: rgba(0,0,0,0.3);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 12;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 20px 0 hsl(0deg 0% 50%);
    overflow-x: hidden; 
    padding: 0;
    transition: 0.5s;
    overflow: hidden;
  }

  .sidebar-inner {
      padding: 25px;
      transition: 0.5s;
      display: none;
  }
  
  .sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    font-size: 15px;
}

.sidebar ul li a {
    font-size: 14px;
    color: #343434;
}

.sidebar ul li a:hover {
    text-decoration: none;
    color: #07689F;
}

.sidebar .social-media {
    margin: 160px 0 0 0;
}

.sidebar .social-media .center {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.sidebar .social-media .icon {
    margin-right: 15px;
}