#slider-carousel {
    margin: 50px 0 30px 0;
}

#slider-carousel .owl-stage-outer {
    overflow: visible;
}
#slider-carousel .owl-item.active {
    transform: scale(1.06);
}

#slider-carousel .owl-item {
    transform: scale(0.9);
}

#slider-carousel .owl-item img {
    border-radius: 15px;
}

@media only screen and (max-width: 576px) {
    #slider-carousel .owl-stage{
        left:-10px !important;
    }
    #slider-carousel .owl-item {
        opacity: 1;
        transition: opacity 500ms;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    #slider-carousel .owl-stage{
        left:0 !important;
    }
    #slider-carousel .owl-item {
        opacity: 1;
        transition: opacity 500ms;
    }
}

@media screen and (max-width: 576px) {
    #slider-carousel .owl-item.active {
        transform: scale(1);
    }

    #slider-carousel .owl-item {
        transform: scale(0.97);
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    #slider-carousel .owl-item.active {
        transform: scale(1.125);
    }

    #slider-carousel .owl-item {
        transform: scale(0.875);
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    #slider-carousel .owl-item.active {
        transform: scale(1.075);
    }

    #slider-carousel .owl-item {
        transform: scale(0.875);
    }
}

/* @media screen and (min-width: 1200px) and (max-width: 1320px) {
    #slider .owl-item.active {
        transform: scale(1);
    }

    #slider .owl-item {
        transform: scale(0.96);
    }
} */

/* Owl Carousel Nav */
#slider-carousel .owl-nav .owl-prev {
    left: 30px;
}

#slider-carousel .owl-nav .owl-next {
    right: 30px;
}