<h4 class="mb-4">Lokasi</h4>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.283044969744!2d106.83012191476917!3d-6.226362895492859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f3f033afe159%3A0x1d7dbbb54c69568c!2sCyber%202%20Tower%2C%20Jl.%20H.%20R.%20Rasuna%20Said%20No.13%2C%20RT.7%2FRW.2%2C%20Kuningan%2C%20Kuningan%20Tim.%2C%20Kecamatan%20Setiabudi%2C%20Kota%20Jakarta%20Selatan%2C%20Daerah%20Khusus%20Ibukota%20Jakarta%2012950!5e0!3m2!1sid!2sid!4v1614941944899!5m2!1sid!2sid" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <ul id="contact">
            <li class="icon icon-location">Cyber 2 Tower Lt. 7
                Jl. H. R. Rasuna Said No.13, RT.7/
                RW.2, Kuningan, Setiabudi,
                Jakarta Selatan, DKI Jakarta 12950</li>
            <li class="icon icon-phone">+62 123 456 789</li>
            <li class="icon icon-mail">info@densacademy.co.id</li>
        </ul>
    </div>
</div>