<div id="popular-courses" class="card-container container" >
    <div class="row vertical-align">
        <div class="col-8">
            <h4>Pelajaran Favorit</h4>
        </div>
        <div class="col-4 text-right">
            <a href="/view-all-courses.html" class="link-viewall">Lihat semua ></a>
        </div>
    </div>

    <div id="popular-carousel" class="cards-carousel owl-carousel">
        <!-- card -->
        <div class="card">
            <a href="/course-detail.html"><img src="/img/courses/course10.jpg" class="card-img-top" alt=""></a>
            <div class="card-body">
                <h6 class="card-title"><a href="/course-detail.html">Matematika Peminatan</a></h6>
                <p class="card-teacher">Dewi Nur</p>
                <div class="card-info container">
                    <div class="row">
                        <div class="col-5 col-md-4 nopadding"><img src="/img/icons/durasi.png" alt="" class="card-icon">8 Bab</div>
                        <div class="col-7 col-md-8 nopadding"><img src="/img/icons/chapter.png" alt="" class="card-icon">100 Menit</div>
                    </div>
                </div>
                <span class="card-price">Rp. 100.000</span>
                <a href="/course-detail.html" class="btn btn-block btn-detail">Detail</a>
            </div>
        </div>
        <!-- card -->

        <!-- card -->
        <div class="card">
            <a href="/course-detail.html"><img src="/img/courses/course12.jpg" class="card-img-top" alt=""></a>
            <div class="card-body">
                <h6 class="card-title"><a href="/course-detail.html">Dasar-Dasar Pemrograman</a></h6>
                <p class="card-teacher">Ismawati</p>
                <div class="card-info container">
                    <div class="row">
                        <div class="col-5 col-md-4 nopadding"><img src="/img/icons/durasi.png" alt="" class="card-icon">8 Bab</div>
                        <div class="col-7 col-md-8 nopadding"><img src="/img/icons/chapter.png" alt="" class="card-icon">100 Menit</div>
                    </div>
                </div>
                <span class="card-price">Rp. 200.000</span>
                <a href="/course-detail.html" class="btn btn-block btn-detail">Detail</a>
            </div>
        </div>
        <!-- card -->

        <!-- card -->
        <div class="card">
            <a href="/course-detail.html"><img src="/img/courses/course11.jpg" class="card-img-top" alt=""></a>
            <div class="card-body">
                <h6 class="card-title"><a href="/course-detail.html">Sejarah Revolusi Indonesia</a></h6>
                <p class="card-teacher">Supardinah</p>
                <div class="card-info container">
                    <div class="row">
                        <div class="col-5 col-md-4 nopadding"><img src="/img/icons/durasi.png" alt="" class="card-icon">8 Bab</div>
                        <div class="col-7 col-md-8 nopadding"><img src="/img/icons/chapter.png" alt="" class="card-icon">100 Menit</div>
                    </div>
                </div>
                <span class="card-price">Rp. 200.000</span>
                <a href="/course-detail.html" class="btn btn-block btn-detail">Detail</a>
            </div>
        </div>
        <!-- card -->

        <!-- card -->
        <div class="card">
            <a href="/course-detail.html"><img src="/img/courses/course13.jpg" class="card-img-top" alt=""></a>
            <div class="card-body">
                <h6 class="card-title"><a href="/course-detail.html">Konsep Wilayah & Tata Ruang</a></h6>
                <p class="card-teacher">Dina R.</p>
                <div class="card-info container">
                    <div class="row">
                        <div class="col-5 col-md-4 nopadding"><img src="/img/icons/durasi.png" alt="" class="card-icon">8 Bab</div>
                        <div class="col-7 col-md-8 nopadding"><img src="/img/icons/chapter.png" alt="" class="card-icon">100 Menit</div>
                    </div>
                </div>
                <span class="card-price">Rp. 200.000</span>
                <a href="/course-detail.html" class="btn btn-block btn-detail">Detail</a>
            </div>
        </div>
        <!-- card -->

        <!-- card -->
        <div class="card">
            <a href="/course-detail.html"><img src="/img/courses/course6.jpg" class="card-img-top" alt=""></a>
            <div class="card-body">
                <h6 class="card-title"><a href="/course-detail.html">Bercocok tanam di rumah</a></h6>
                <p class="card-teacher">Budi Dermawan</p>
                <div class="card-info container">
                    <div class="row">
                        <div class="col-5 col-md-4 nopadding"><img src="/img/icons/durasi.png" alt="" class="card-icon">8 Bab</div>
                        <div class="col-7 col-md-8 nopadding"><img src="/img/icons/chapter.png" alt="" class="card-icon">100 Menit</div>
                    </div>
                </div>
                <span class="card-price">Rp. 200.000</span>
                <a href="/course-detail.html" class="btn btn-block btn-detail">Detail</a>
            </div>
        </div>
        <!-- card -->

    </div>

</div>

<script src="/js/carousel/popular.js"></script>