<link rel="stylesheet" href="/css/add-cart.css">
<link rel="stylesheet" href="/css/notification.css">

<!-- Bottom Navbar -->
<nav id="buy-now" class="fixed-bottom">
    <div class="container">
        <div class="row w-100 vertical-align">
            <div class="price col-5">
                Rp. 100.000
            </div>
            <div class="buy col-7 nopadding text-right">
                <a href="#" class="btn btn-cart" data-toggle="modal" data-target="#success-notification" ><i class="bi bi-cart-plus-fill"></i> Keranjang</a>
                <a href="#" class="btn btn-buy">Beli Sekarang</a>
            </div>
        </div>
    </div>
</nav>

<!-- Notification Modal -->
<div id="success-notification" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">

            <img src="/img/icons/success.png" class="mt-2 mb-2" width="32" alt="">
            <p>Pelajaran berhasil ditambahkan</p>

        </div>
      </div>
    </div>
</div>