<link rel="stylesheet" href="../../css/add-cart.css">
<!-- Bottom Navbar -->
<nav id="buy-now" class="fixed-bottom">
    <div class="container">
        <div class="row w-100 vertical-align">
            <div class="price col-8">
                Rp. 100.000
            </div>
            <div class="buy col-4 nopadding text-right">
                <a href="#" class="btn btn-cart">+ Keranjang</a>
                <a href="#" class="btn btn-buy">Beli Sekarang</a>
            </div>
        </div>
    </div>
</nav>

<!-- <script>

    $(document).scroll(function() {
        if ($(this).scrollTop() == 0) {
            $("#buy-now").slideUp(400);
        } else {
            $("#buy-now").slideDown(600);
        }

    });
</script> -->