<div class="container mt-5 mb-5">
    <h4>Deskripsi</h4>
    <br>
    <p>Deskripsi lengkap pelajaran lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor scelerisque odio luctus molestie. Aenean lacus nunc,
        pulvinar a felis ut, tincidunt dignissim augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed
        cursus enim. Vivamus at ante sed purus tincidunt aliquet nec nec sapien. Nulla sagittis sem velit. (Detail penjelasan ini masih dummy)</p>
</div>