<link rel="stylesheet" href="../../css/courses.css">

<div id="summary">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-xl-8">
                <h5>Titik, Garis, dan Bidang</h5>
                <br>
                <div class="read-more js-read-more" data-rm-words="30">
                    Deskripsi lengkap pelajaran lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor scelerisque odio luctus molestie. Aenean lacus nunc,
                    pulvinar a felis ut, tincidunt dignissim augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed
                    cursus enim. Vivamus at ante sed purus tincidunt aliquet nec nec sapien. Nulla sagittis sem velit. (Detail penjelasan ini masih dummy).
                </div>  

                <div class="info container">
                    <div class="row vertical-align">
                        <div class="col-5 col-md-3 col-lg-2 nopadding"><img src="../../img/icons/durasi-white.png" alt="" class="card-icon">8 Bab</div>
                        <div class="col-7 col-md-9 col-lg-10 nopadding"><img src="../../img/icons/chapter-white.png" alt="" class="card-icon">100 Menit</div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block col-md-5 col-xl-4">
                <div class="video-player embed-responsive embed-responsive-16by9">
                    <video id="my-video" class="video-js" controls preload="auto"  >
                        <source src="../../videos/video.mp4" type='video/mp4'>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../vendor/readmore/readmore.js"></script>
<script>
    ReadMore.init();
</script>