<link rel="stylesheet" href="../../css/courses.css">

<div id="summary">
    <div class="container">

        <!-- Video -->
        <div class="video-player embed-responsive embed-responsive-16by9">
            <video id="my-video" class="video-js" controls preload="auto" muted autoplay>
                <source src="../../videos/video.mp4" type='video/mp4'>
            </video>
        </div>
        <!-- Video -->

        <!-- Detail -->
        <div class="detail">
            <h5>Titik, Garis, dan Bidang</h5>
            <p class="teacher">Dewi Nur</p>
            <div class="detail-info row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-5"><img src="../../img/icons/durasi.png" class="icon-mobile-small" alt="">8 Bab</div>
                        <div class="col-7"><img src="../../img/icons/chapter.png" class="icon-mobile-small" alt="">100 Menit</div>
                    </div>
                </div>
                <div class="price col-5 text-right">
                    <h5>Rp. 100.000</h5>
                </div>
            </div>
        </div>

        <!-- Detail -->

        <!-- Info -->
        <h5>Kamu akan mendapatkan</h5>
        <div class="row">
            <div class="col-6 col-md-3 vertical-align">
                <img src="../../img/icons/dokumen.png" class="icon-mobile" alt="">
                <p class="info-mobile">12 Video</p>
            </div>
            <div class="col-6 col-md-3 vertical-align">
                <img src="../../img/icons/dokumen.png" class="icon-mobile" alt="">
                <p class="info-mobile">Dokumen</p>
            </div>
            <div class="col-6 col-md-3 vertical-align">
                <img src="../../img/icons/exam.png" class="icon-mobile" alt="">
                <p class="info-mobile">Exam</p>
            </div>
            <div class="col-6 col-md-3 vertical-align">
                <img src="../../img/icons/sertifikat.png" class="icon-mobile" alt="">
                <p class="info-mobile">Sertifikat</p>
            </div>
        </div>
        <!-- Info -->

        <!-- Deskripsi -->
        <div class="description">
            <h5>Deskripsi</h5>
            <div class="read-more js-read-more" data-rm-words="30">
                    Deskripsi lengkap pelajaran lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor scelerisque odio luctus molestie. Aenean lacus nunc,
                    pulvinar a felis ut, tincidunt dignissim augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed
                    cursus enim. Vivamus at ante sed purus tincidunt aliquet nec nec sapien. Nulla sagittis sem velit. (Detail penjelasan ini masih dummy).
            </div>  
        </div>
        <!-- Deskripsi -->

    </div>
</div>

<!-- Readmore -->
<script src="../../vendor/readmore/readmore.js"></script>
<script>
    ReadMore.init();
</script>
