<link rel="stylesheet" href="../../css/courses.css">

<div id="summary">
    <div class="container">
        <div class="row vertical-align">
            <div class="col-md-7 col-xl-8">
                <h5>Titik, Garis, dan Bidang</h5>
                <br>
                <p>Deskripsi singkat pelajaran lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis
                    pellentesque velit. Aliquam erat volutpat. Fusce sem mauris. (Detail penjelasan ini masih dummy)</p>
                <div class="info container">
                    <div class="row vertical-align">
                        <div class="col-5 col-md-3 col-lg-2 nopadding"><img src="../../img/icons/durasi-white.png" alt="" class="card-icon">8 Bab</div>
                        <div class="col-7 col-md-9 col-lg-10 nopadding"><img src="../../img/icons/chapter-white.png" alt="" class="card-icon">100 Menit</div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block col-md-5 col-xl-4">
                <div class="video-player embed-responsive embed-responsive-16by9">
                    <video id="my-video" class="video-js" controls preload="auto"  >
                        <source src="../../videos/video.mp4" type='video/mp4'>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>