<link rel="stylesheet" href="/css/syllabus.css">

<div id="course-syllabus" class="container">
  <div class="row vertical-align">
    <div class="title col-12 col-md-6"><h4>Syllabus</h4></div>
    <div class="info col-12 col-md-6 text-md-right">8 Bab &#8226; Durasi 100 Menit</div>
  </div>

  <!--Accordion wrapper-->
    <div class="accordion" role="tablist" aria-multiselectable="true">

        <!-- Accordion card -->
        <div class="card">
          <div class="card-header" role="tab" data-toggle="collapse" href="#collapse1" aria-expanded="true">
              <h6>Titik Pada Garis</h6>
          </div>
          <div id="collapse1" class="collapse show" role="tabpanel">
            <div class="card-body">
                <ul>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Bangun Datar</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                </ul>
            </div>
          </div>
        </div>
        <!-- Accordion card -->
      
        <!-- Accordion card -->
        <div class="card">
          <div class="card-header" role="tab" data-toggle="collapse" href="#collapse2" aria-expanded="false">
              <h6>Titik Pada Bidang</h6>
          </div>
          <div id="collapse2" class="collapse" role="tabpanel">
            <div class="card-body">
                <ul>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Bangun Datar</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                </ul>
            </div>
          </div>
        </div>
        <!-- Accordion card -->

        <!-- Accordion card -->
        <div class="card">
          <div class="card-header" role="tab" data-toggle="collapse" href="#collapse3" aria-expanded="false">
              <h6>Garis Berpotongan dan Berimpit</h6>
          </div>
          <div id="collapse3" class="collapse" role="tabpanel">
            <div class="card-body">
                <ul>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Bangun Datar</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                </ul>
            </div>
          </div>
        </div>
        <!-- Accordion card -->

        <!-- Accordion card -->
        <div class="card">
          <div class="card-header" role="tab" data-toggle="collapse" href="#collapse4" aria-expanded="false">
              <h6>Garis Berpotongan dan Sejajar</h6>
          </div>
          <div id="collapse4" class="collapse" role="tabpanel">
            <div class="card-body">
                <ul>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Bangun Datar</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                </ul>
            </div>
          </div>
        </div>
        <!-- Accordion card -->

        <!-- Accordion card -->
        <div class="card">
          <div class="card-header" role="tab" data-toggle="collapse" href="#collapse5" aria-expanded="false">
              <h6>Garis Sejajar dan Bersilangan</h6>
          </div>
          <div id="collapse5" class="collapse" role="tabpanel">
            <div class="card-body">
                <ul>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Bangun Datar</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                </ul>
            </div>
          </div>
        </div>
        <!-- Accordion card -->
        
        <!-- Accordion card -->
        <div class="card">
          <div class="card-header" role="tab" data-toggle="collapse" href="#collapse6" aria-expanded="false">
              <h6>Garis Pada Bidang</h6>
          </div>
          <div id="collapse6" class="collapse" role="tabpanel">
            <div class="card-body">
                <ul>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Bangun Datar</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                </ul>
            </div>
          </div>
        </div>
        <!-- Accordion card -->        

        <!-- Accordion card -->
        <div class="card">
          <div class="card-header" role="tab" data-toggle="collapse" href="#collapse7" aria-expanded="false">
              <h6>Garis Tegak Lurus Bidang</h6>
          </div>
          <div id="collapse7" class="collapse" role="tabpanel">
            <div class="card-body">
                <ul>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/play.png" class="icon" alt="">Bangun Datar</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><a href="#"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</a></div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                </ul>
            </div>
          </div>
        </div>
        <!-- Accordion card -->

      </div>
      <!-- Accordion wrapper -->

</div>