<link rel="stylesheet" href="../../css/teachers.css">

<div class="container mt-5">
    <h4>Informasi pengajar</h4>
    <div class="row vertical-align">
        <div class="col-3 col-md-2 col-lg-1">
            <img src="../../img/teachers/teacher1.jpg" class="rounded-circle img-fluid" alt="">
        </div>
        <div class="col-4 col-md-7 col-lg-9">
            <span class="teacher-name">Ismawati</span>
            <span class="teacher-expertise d-md-none">Matematika</span>
            <p class="teacher-description d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor scelerisque odio luctus molestie. Aenean lacus nunc, pulvinar a
                felis ut, tincidunt dignissim augue.</p>
        </div>
        <!-- desktop button -->
        <div class="col-5 col-md-3 col-lg-2 text-right">
            <a href="/teacher-detail.html" class="btn btn-teacher-info">Lihat Pengajar</a>
        </div>
    </div>
</div>