<link rel="stylesheet" href="/css/location.css">
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/list-group.css">

<div class="container mt-5">
    <div class="row">

        <div class="d-none d-lg-block col-lg-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a href="/about-us.html" class="list-group-item list-group-item-action">Tentang Kami</a>
                <a href="/faq.html" class="list-group-item list-group-item-action">FAQ</a>
                <a href="/privacy-policy.html" class="list-group-item list-group-item-action">Kebijakan Privasi</a>
                <a href="/terms-conditions.html" class="list-group-item list-group-item-action">Syarat & Ketentuan</a>
                <a href="/contact-us.html" class="list-group-item list-group-item-action active">Kontak Kami</a>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <h4 class="mb-4">Kontak Kami</h4>
            <p>Jangan ragu untuk menghubungi kami kapan saja, kami akan menghubungi kamu kembali secepatnya.</p>

            <form class="mt-4 mb-4">
                <div class="form-row">
                  <div class="col-12 col-md-4">
                    <input type="text" class="form-control" placeholder="Nama">
                    <label>Nama</label>
                  </div>
                  <div class="col-12 col-md-4">
                    <input type="text" class="form-control" placeholder="Nomor Handphone">
                    <label>Nomor Handphone</label>
                  </div>
                  <div class="col-12 col-md-4">
                    <input type="text" class="form-control" placeholder="Email">
                    <label>Email</label>
                  </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <textarea class="form-control" rows="5" placeholder="Pesan"></textarea>
                        <label>Pesan</label>
                    </div>
                </div>

                <div class="text-right">
                    <button class="btn btn-yellow">Submit</button>
                </div>
            </form>

            <div id="location"></div>
        </div>

    </div>
</div>

<script> 
    $("#list-group").load("components/static-pages/list-group.html"); 
    $("#location").load("components/widgets/location.html"); 
</script>