<link rel="stylesheet" href="/css/faq.css">
<link rel="stylesheet" href="/css/list-group.css">

<div class="container mt-5">
    <div class="row">

        <div class="d-none d-lg-block col-lg-3">
          <div class="list-group" id="list-tab" role="tablist">
            <a href="/about-us.html" class="list-group-item list-group-item-action">Tentang Kami</a>
            <a href="/faq.html" class="list-group-item list-group-item-action active">FAQ</a>
            <a href="/privacy-policy.html" class="list-group-item list-group-item-action">Kebijakan Privasi</a>
            <a href="/terms-conditions.html" class="list-group-item list-group-item-action">Syarat & Ketentuan</a>
            <a href="/contact-us.html" class="list-group-item list-group-item-action">Kontak Kami</a>
        </div>
        </div>
        <div class="col-12 col-lg-9">
            <h4 class="mb-4">FAQ</h4>

            <!--Accordion wrapper-->
            <div class="accordion" role="tablist" aria-multiselectable="true">

              <!-- Accordion card -->
              <div class="card">
                <div class="card-header" role="tab" data-toggle="collapse" href="#collapse1" aria-expanded="true">
                    <h6>Apa itu Dens Academy ?</h6>
                </div>
                <div id="collapse1" class="collapse show" role="tabpanel">
                  <div class="card-body">
                      <p>Cara membeli pelajaran di Dens Academy adalah lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor
                        scelerisque odio luctus molestie. Aenean lacus nunc, pulvinar a felis ut, tincidunt dignissim augue. Pellentesque habitant
                        morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed cursus enim.
                        (Detail penjelasan ini masih dummy)</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card -->
            
              <!-- Accordion card -->
              <div class="card">
                <div class="card-header" role="tab" data-toggle="collapse" href="#collapse2" aria-expanded="false">
                    <h6>Perbedaan kategori Kurikulum, Profesional, dan Hobi</h6>
                </div>
                <div id="collapse2" class="collapse" role="tabpanel">
                  <div class="card-body">
                    <p>Cara membeli pelajaran di Dens Academy adalah lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor
                      scelerisque odio luctus molestie. Aenean lacus nunc, pulvinar a felis ut, tincidunt dignissim augue. Pellentesque habitant
                      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed cursus enim.
                      (Detail penjelasan ini masih dummy)</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">
                <div class="card-header" role="tab" data-toggle="collapse" href="#collapse3" aria-expanded="false">
                    <h6>Metode Pembayaran</h6>
                </div>
                <div id="collapse3" class="collapse" role="tabpanel">
                  <div class="card-body">
                    <p>Cara membeli pelajaran di Dens Academy adalah lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor
                      scelerisque odio luctus molestie. Aenean lacus nunc, pulvinar a felis ut, tincidunt dignissim augue. Pellentesque habitant
                      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed cursus enim.
                      (Detail penjelasan ini masih dummy)</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">
                <div class="card-header" role="tab" data-toggle="collapse" href="#collapse4" aria-expanded="false">
                    <h6>Cara menggunakan kode promo</h6>
                </div>
                <div id="collapse4" class="collapse" role="tabpanel">
                  <div class="card-body">
                    <p>Cara membeli pelajaran di Dens Academy adalah lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor
                      scelerisque odio luctus molestie. Aenean lacus nunc, pulvinar a felis ut, tincidunt dignissim augue. Pellentesque habitant
                      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed cursus enim.
                      (Detail penjelasan ini masih dummy)</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card -->

              <!-- Accordion card -->
              <div class="card">
                <div class="card-header" role="tab" data-toggle="collapse" href="#collapse5" aria-expanded="false">
                    <h6>Cara memindahkan pelajaran ke orang lain</h6>
                </div>
                <div id="collapse5" class="collapse" role="tabpanel">
                  <div class="card-body">
                    <p>Cara membeli pelajaran di Dens Academy adalah lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor
                      scelerisque odio luctus molestie. Aenean lacus nunc, pulvinar a felis ut, tincidunt dignissim augue. Pellentesque habitant
                      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed cursus enim.
                      (Detail penjelasan ini masih dummy)</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card -->
              
              <!-- Accordion card -->
              <div class="card">
                <div class="card-header" role="tab" data-toggle="collapse" href="#collapse6" aria-expanded="false">
                    <h6>Cara mendapatkan sertifikat</h6>
                </div>
                <div id="collapse6" class="collapse" role="tabpanel">
                  <div class="card-body">
                    <p>Cara membeli pelajaran di Dens Academy adalah lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor
                      scelerisque odio luctus molestie. Aenean lacus nunc, pulvinar a felis ut, tincidunt dignissim augue. Pellentesque habitant
                      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed cursus enim.
                      (Detail penjelasan ini masih dummy)</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card -->        

              <!-- Accordion card -->
              <div class="card">
                <div class="card-header" role="tab" data-toggle="collapse" href="#collapse7" aria-expanded="false">
                    <h6>Cara melihat sertifikat</h6>
                </div>
                <div id="collapse7" class="collapse" role="tabpanel">
                  <div class="card-body">
                    <p>Cara membeli pelajaran di Dens Academy adalah lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor
                      scelerisque odio luctus molestie. Aenean lacus nunc, pulvinar a felis ut, tincidunt dignissim augue. Pellentesque habitant
                      morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed cursus enim.
                      (Detail penjelasan ini masih dummy)</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card -->

            </div>
            <!-- Accordion wrapper -->

        </div>

    </div>
</div>