<link rel="stylesheet" href="/css/list-group.css">

<div class="list-group" id="list-tab" role="tablist">
    <a href="/about-us.html" class="list-group-item list-group-item-action active">Tentang Kami</a>
    <a href="/faq.html" class="list-group-item list-group-item-action">FAQ</a>
    <a href="/privacy-policy.html" class="list-group-item list-group-item-action">Kebijakan Privasi</a>
    <a href="/terms-conditions.html" class="list-group-item list-group-item-action">Syarat & Ketentuan</a>
    <a href="/contact-us.html" class="list-group-item list-group-item-action">Kontak Kami</a>
</div>