<link rel="stylesheet" href="/css/list-group.css">

<div class="container mt-5">
    <div class="row">

        <div class="d-none d-lg-block col-lg-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a href="/about-us.html" class="list-group-item list-group-item-action">Tentang Kami</a>
                <a href="/faq.html" class="list-group-item list-group-item-action">FAQ</a>
                <a href="/privacy-policy.html" class="list-group-item list-group-item-action active">Kebijakan Privasi</a>
                <a href="/terms-conditions.html" class="list-group-item list-group-item-action">Syarat & Ketentuan</a>
                <a href="/contact-us.html" class="list-group-item list-group-item-action">Kontak Kami</a>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <h4 class="mb-4">Kebijakan Privasi</h4>
            <h6 class="mb-4">Kebijakan Privasi Dens Academy mulai dari 1 Juni 2021.</h6>
            <p>Kebijakan privasi lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor scelerisque odio luctus molestie.
                (Detail penjelasan ini masih dummy)</p>
            <ol>
                <li><h6>Lorem ipsum dolor sit amet.</h6> Consectetur adipiscing elit. Proin eget tortor scelerisque odio luctus molestie. Aenean lacus nunc, pulvinar a felis ut,
                    tincidunt dignissim augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas. Quisque sed cursus enim. Vivamus at ante sed purus tincidunt aliquet nec nec sapien. Nulla sagittis sem velit.
                    (Detail penjelasan ini masih dummy)</li>
                <li><h6>Lorem ipsum dolor sit amet.</h6> Consectetur adipiscing elit. Proin eget tortor scelerisque odio luctus molestie. Aenean lacus nunc, pulvinar a felis ut,
                    tincidunt dignissim augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas. Quisque sed cursus enim. Vivamus at ante sed purus tincidunt aliquet nec nec sapien. Nulla sagittis sem velit.
                    (Detail penjelasan ini masih dummy)</li>
                <li><h6>Lorem ipsum dolor sit amet.</h6> Consectetur adipiscing elit. Proin eget tortor scelerisque odio luctus molestie. Aenean lacus nunc, pulvinar a felis ut,
                    tincidunt dignissim augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas. Quisque sed cursus enim. Vivamus at ante sed purus tincidunt aliquet nec nec sapien. Nulla sagittis sem velit.
                    (Detail penjelasan ini masih dummy)</li>
                <li><h6>Lorem ipsum dolor sit amet.</h6> Consectetur adipiscing elit. Proin eget tortor scelerisque odio luctus molestie. Aenean lacus nunc, pulvinar a felis ut,
                    tincidunt dignissim augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas. Quisque sed cursus enim. Vivamus at ante sed purus tincidunt aliquet nec nec sapien. Nulla sagittis sem velit.
                    (Detail penjelasan ini masih dummy)</li>
            </ol>

            <p>Kebijakan privasi lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor scelerisque odio luctus molestie.
                (Detail penjelasan ini masih dummy)</p>
        </div>

    </div>
</div>

<script> 
    $("#list-group").load("components/static-pages/list-group.html"); 
</script>