<link rel="stylesheet" href="/css/list-group.css">
<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/account.css">

<div class="container mt-5">
    <div class="row">

        <div class="col-lg-3 d-none d-lg-block">
            <div class="list-group" id="list-tab" role="tablist">
                <a href="/my-account.html" class="list-group-item list-group-item-action">Akun Saya</a>
                <a href="/edit-profile.html" class="list-group-item list-group-item-action">Edit Profil</a>
                <a href="/learning-room.html" class="list-group-item list-group-item-action">Learning Room</a>
                <a href="/webinar.html" class="list-group-item list-group-item-action">Webinar</a>
                <a href="/redeem-voucher.html" class="list-group-item list-group-item-action">Redeem Voucher</a>
                <a href="/transaction-history.html" class="list-group-item list-group-item-action">Histori Transaksi</a>
                <a href="/change-password.html" class="list-group-item list-group-item-action active">Ubah Kata Sandi</a>
                <a href="/" class="list-group-item list-group-item-action">Keluar</a>
            </div>
        </div>
        <div id="account" class="col-12 col-lg-9">
            <h4 class="mb-4 d-none d-lg-block">Ubah Kata Sandi</h4>
            
            <div class="card">
                <h5 class="text-center">Ubah Kata Sandi Baru</h5>

                <form id="reset-form" class="mt-4 mb-4" onsubmit="return false;">
                    <div class="form-row">
                        <div class="col-12">
                            <input type="password" class="form-control" placeholder="Kata Sandi Lama">
                            <label>Kata Sandi Lama</label>
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control" placeholder="Kata Sandi Baru">
                            <label>Kata Sandi Baru</label>
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control" placeholder="Konfirmasi Kata Sandi Baru">
                            <label>Konfirmasi Kata Sandi Baru</label>
                        </div>
                    </div>
                
                    <div class="text-right">
                        <button class="btn btn-yellow">Simpan</button>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>