<div id="account" class="d-block d-lg-none">

    <div class="contact-card-mobile">
        <div class="tes container">
            <h3>Muhammad Adi</h3>
            <div class="col align-self-center text-center">
                <img src="/img/teachers/teacher4.jpg" class="teacher-image rounded-circle" alt="">
            </div>
            <div class="contact-person row">
                <div class="col-12 col-md-6">
                    <span><img src="/img/icons/contact-email.png" class="icon" alt="">muhammadadi@gmail.com</span>
                </div>
                <div class="col-12 col-md-6">
                    <span><img src="/img/icons/contact-instagram.png" class="icon" alt="">@muhammad_adi</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="list-group">
            <li class="list-group-item"><a href="/my-account.html">Akun Saya</a></li>
            <li class="list-group-item"><a href="/edit-profile.html">Edit Profil</a></li>
            <li class="list-group-item"><a href="/redeem-voucher.html">Redeem Voucher</a></li>
            <li class="list-group-item"><a href="/transaction-history.html">Histori Transaksi</a></li>
            <li class="list-group-item"><a href="/change-password.html">Ubah Kata Sandi</a></li>
            <li class="list-group-item"><a href="/">Keluar</a></li>
        </ul>
    </div>
</div>