<link rel="stylesheet" href="/css/list-group.css">
<link rel="stylesheet" href="/css/teachers.css">
<link rel="stylesheet" href="/css/account.css">

<div class="d-none d-lg-block container mt-5">
    <div class="row">

        <div class="col-lg-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a href="/my-account.html" class="list-group-item list-group-item-action active">Akun Saya</a>
                <a href="/edit-profile.html" class="list-group-item list-group-item-action">Edit Profil</a>
                <a href="/learning-room.html" class="list-group-item list-group-item-action">Learning Room</a>
                <a href="/webinar.html" class="list-group-item list-group-item-action">Webinar</a>
                <a href="/redeem-voucher.html" class="list-group-item list-group-item-action">Redeem Voucher</a>
                <a href="/transaction-history.html" class="list-group-item list-group-item-action">Histori Transaksi</a>
                <a href="/change-password.html" class="list-group-item list-group-item-action">Ubah Kata Sandi</a>
                <a href="/" class="list-group-item list-group-item-action">Keluar</a>
            </div>
        </div>
        <div id="account" class="col-12 col-lg-9">
            <h4 class="mb-4">Akun Saya</h4>
            
            <div class="card">
                <!-- Contact Card -->
                <div class="card contact-card d-none d-lg-block">
                    <div class="row">
                        <div class="d-none d-md-block col-md-1 col-lg-1"></div>
                        <div class="col-5 col-md-3 col-lg-3 col-xl-2">
                            <img src="/img/teachers/teacher4.jpg" class="teacher-image rounded-circle img-fluid" alt="">
                        </div>
                        <div class="d-none d-md-block col-md-1 col-lg-1 col-xl-1"></div>
                        <div class="col-7 col-md-7 col-xl-8">
                            <h3>Muhammad Adi</h3>
                            <div class="contact-person row">
                                <div class="contact-email">
                                    <span><img src="/img/icons/contact-email.png" class="icon" alt="">muhammadadi@gmail.com</span>
                                </div>
                                <div class="contact-instagram">
                                    <span><img src="/img/icons/contact-instagram.png" class="icon" alt="">@muhammad_adi</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Profile -->
                <table>
                    <tr>
                        <td>Nama Lengkap</td>
                        <td>Muhammad Adi</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>muhammadadi@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Nomor Handphone</td>
                        <td>081213141516</td>
                    </tr>
                    <tr>
                        <td>Jenis Kelamin</td>
                        <td>Laki-laki</td>
                    </tr>
                    <tr>
                        <td>Tanggal Lahir</td>
                        <td>12 Januari 2004</td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>Jl. Daan mogot KM. 15.6 RT. 001/012 No. 68,
                            Kalideres, Jakarta Barat</td>
                    </tr>
                </table>

            </div>

        </div>

    </div>
</div>