<link rel="stylesheet" href="/css/list-group.css">
<link rel="stylesheet" href="/css/account.css">
<link rel="stylesheet" href="/vendor/bootstrap-icons/bootstrap-icons.css">

<!-- datepicker -->
<script src="/vendor/moment/moment.js"></script>
<link rel="stylesheet" href="/vendor/datepicker/daterangepicker.css">
<script src="/vendor/datepicker/daterangepicker.min.js"></script>

<div class="container mt-5">
    <div class="row">

        <div class="col-lg-3 d-none d-lg-block">
            <div class="list-group" id="list-tab" role="tablist">
                <a href="/my-account.html" class="list-group-item list-group-item-action">Akun Saya</a>
                <a href="/edit-profile.html" class="list-group-item list-group-item-action">Edit Profil</a>
                <a href="/learning-room.html" class="list-group-item list-group-item-action">Learning Room</a>
                <a href="/webinar.html" class="list-group-item list-group-item-action">Webinar</a>
                <a href="/redeem-voucher.html" class="list-group-item list-group-item-action">Redeem Voucher</a>
                <a href="/transaction-history.html" class="list-group-item list-group-item-action active">Histori Transaksi</a>
                <a href="/change-password.html" class="list-group-item list-group-item-action">Ubah Kata Sandi</a>
                <a href="/" class="list-group-item list-group-item-action">Keluar</a>
            </div>
        </div>
        <div id="account" class="col-12 col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="mb-4 d-none d-md-block">Histori Transaksi</h4>
                </div>
                <div class="col-12 col-md-6 text-right">
                    <span id="daterange">
                        <i class="bi bi-calendar"></i><input id="daterangepicker" type="text" lass="form-control">         
                    </span>
                </div>
            </div>

            <div class="card">

                <!-- Transaction Card Packages -->
                <div class="transaction-card card">
                    <div class="row">
                        <div class="col-6">
                            <h6>5 Februari 2021</h6>
                        </div>
                        <div class="col-6 text-right">
                            <span class="badge badge-primary">Lunas</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="separator col-6 col-md-3">
                            <span class="title">Invoice #</span>
                            <h6>INV-834584</h6>
                        </div>
                        <div class="separator d-none d-md-block col-md-6">
                            <span class="title">Item</span>

                            <div class="course-item row">
                                <div class="col-3 nopadding">
                                    <img src="/img/packages/packages1.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-9">
                                    <a href="/course-detail.html"><h6>Paket Combo Kelas 8 SMP</h6></a>
                                    Rp. 200.000 <i class="bi bi-person-fill"></i> 1 Kuota
                                </div>
                            </div>

                        </div>
                        <div class="separator col-6 col-md-3 text-right">
                            <span class="title">Total</span>
                            <h6>Rp. 200.000</h6>
                            <span class="d-none d-md-block">1 Item</span>

                            <a href="/receipt.html" class="btn btn-biru">Detail</a>
                        </div>
                    </div>

                </div>
                <!-- Transaction Card -->

                <!-- Transaction Card -->
                <div class="transaction-card card">
                    <div class="row">
                        <div class="col-6">
                            <h6>5 Februari 2021</h6>
                        </div>
                        <div class="col-6 text-right">
                            <span class="badge badge-primary">Lunas</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="separator col-6 col-md-3">
                            <span class="title">Invoice #</span>
                            <h6>INV-789987</h6>
                        </div>
                        <div class="separator d-none d-md-block col-md-6">
                            <span class="title">Item</span>

                            <div class="course-item row">
                                <div class="col-3 nopadding">
                                    <img src="/img/courses/course15.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-9">
                                    <a href="/course-detail.html"><h6>Titik, Garis, dan Bidang</h6></a>
                                    Rp. 100.000 <i class="bi bi-person-fill"></i> 1 Kuota
                                </div>
                            </div>

                            <div class="course-item row">
                                <div class="col-3 nopadding">
                                    <img src="/img/courses/course16.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-9">
                                    <a href="/course-detail.html"><h6>Proyeksi</h6></a>
                                    Rp. 100.000 <i class="bi bi-person-fill"></i> 1 Kuota
                                </div>
                            </div>

                        </div>
                        <div class="separator col-6 col-md-3 text-right">
                            <span class="title">Total</span>
                            <h6>Rp. 200.000</h6>
                            <span class="d-none d-md-block">2 Pelajaran</span>

                            <a href="/receipt.html" class="btn btn-biru">Detail</a>
                        </div>
                    </div>

                </div>
                <!-- Transaction Card -->

                <!-- Transaction Card -->
                <div class="transaction-card card">
                    <div class="row">
                        <div class="col-6">
                            <h6>25 Januari 2021</h6>
                        </div>
                        <div class="col-6 text-right">
                            <span class="badge badge-primary">Lunas</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="separator col-6 col-md-3">
                            <span class="title">Invoice #</span>
                            <h6>INV-857947</h6>
                        </div>
                        <div class="separator d-none d-md-block col-md-6">
                            <span class="title">Item</span>

                            <div class="course-item row">
                                <div class="col-3 nopadding">
                                    <img src="/img/courses/course1.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-9">
                                    <a href="/course-detail.html"><h6>Dasar Desain Grafis</h6></a>
                                    Rp. 100.000 <i class="bi bi-person-fill"></i> 1 Kuota
                                </div>
                            </div>

                        </div>
                        <div class="separator col-6 col-md-3 text-right">
                            <span class="title">Total</span>
                            <h6>Rp. 100.000</h6>
                            <span class="d-none d-md-block">1 Pelajaran</span>

                            <a href="/receipt.html" class="btn btn-biru">Detail</a>
                        </div>
                    </div>

                </div>
                <!-- Transaction Card -->

            </div>

        </div>

    </div>
</div>

<script src="/js/datefilter.js"></script>