<link rel="stylesheet" href="/css/learning-room-webinar.css">
<link rel="stylesheet" href="/css/list-group.css">

<div id="learning-room-webinar" class="container mt-5">
    <div class="row">
        <div class="d-none d-lg-block col-lg-3">
            <div class="list-group" id="list-tab" role="tablist">
                <a href="/my-account.html" class="list-group-item list-group-item-action">Akun Saya</a>
                <a href="/edit-profile.html" class="list-group-item list-group-item-action">Edit Profil</a>
                <a href="/learning-room.html" class="list-group-item list-group-item-action">Learning Room</a>
                <a href="/webinar.html" class="list-group-item list-group-item-action active">Webinar Dens Pintar</a>
                <a href="/redeem-voucher.html" class="list-group-item list-group-item-action">Redeem Voucher</a>
                <a href="/transaction-history.html" class="list-group-item list-group-item-action">Histori Transaksi</a>
                <a href="/change-password.html" class="list-group-item list-group-item-action">Ubah Kata Sandi</a>
                <a href="/" class="list-group-item list-group-item-action">Keluar</a>
            </div>
        </div>
        
        <div class="col-12 col-lg-9">
            <h4 class="mb-4">Webinar</h4>
            
            <!-- if pelajaran belum ada / kosong 
                <div class="col-12 mt-5 mb-5">
                    <div class="text-center">
                        <img src="/img/icons/files.jpg" alt="">
                        <h6 class="cocogoose mt-3">Yah, belum ada webinar yang berlangsung atau selesai nih</h6>
                        <p>Selesaikan webinarmu atau silahkan ikut webinar terlebih dahulu ya.</p>
                    </div>
                </div>
            -->
            
            <div class="card">
                
                <!-- card -->
                <div class="card-learning-room-webinar">
                    <div class="row row-eq-height">
                        <div class="col-4 col-md-3">
                            <img src="/img/courses/course6.jpg" class="card-image img-fluid" alt="">
                        </div>
                        <div class="col-8 col-md-9">
                            <h6>Titrasi Asam Basa</h6>
                            <span class="teacher">Kiki Nugraha</span> 
                            <div class="row">
                                <div class="col-12 col-md-8 col-lg-7 col-xl-8 align-self-center">
                                    <span class="time">27 Oktober 202 14:00 WIB</span> 
                                </div>
                                <div class="col-12 col-md-4 col-lg-5 col-xl-4 align-self-end">
                                    <a href="/class.html" class="btn btn-block btn-blue">Daftar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card -->
                
                <!-- card -->
                <div class="card-learning-room-webinar">
                    <div class="row row-eq-height">
                        <div class="col-4 col-md-3">
                            <img src="/img/courses/course12.jpg" class="card-image img-fluid" alt="">
                        </div>
                        <div class="col-8 col-md-9">
                            <h6>Biaya Produksi</h6>
                            <span class="teacher">Isti Ismawati</span> 
                            <div class="row">
                                <div class="col-12 col-md-8 col-lg-7 col-xl-8 align-self-center">
                                    <span class="time">Sedang Berlangsung</span> 
                                </div>
                                <div class="col-12 col-md-4 col-lg-5 col-xl-4 align-self-end">
                                    <a href="/class.html" class="btn btn-block btn-yellow">Masuk Webinar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card -->
                
                <!-- card -->
                <div class="card-learning-room-webinar">
                    <div class="row row-eq-height">
                        <div class="col-4 col-md-3">
                            <img src="/img/courses/course11.jpg" class="card-image img-fluid" alt="">
                        </div>
                        <div class="col-8 col-md-9">
                            <h6>Sejarah Indonesia</h6>
                            <span class="teacher">Supardinah</span> 
                            <div class="row">
                                <div class="col-12 col-md-8 col-lg-7 col-xl-8 align-self-center">
                                    <span class="time">27 Oktober 202 14:00 WIB</span> 
                                </div>
                                <div class="col-12 col-md-4 col-lg-5 col-xl-4 align-self-end">
                                    <a href="#" class="btn btn-block btn-disabled">Terdaftar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card -->
                
                <!-- card -->
                <div class="card-learning-room-webinar">
                    <div class="row row-eq-height">
                        <div class="col-4 col-md-3">
                            <img src="/img/courses/course2.jpg" class="card-image img-fluid" alt="">
                        </div>
                        <div class="col-8 col-md-9">
                            <h6>Perangkat Keras Komputer</h6>
                            <span class="teacher">Gunaning</span> 
                            <div class="row">
                                <div class="col-12 col-md-8 col-lg-7 col-xl-8 align-self-center">
                                    <span class="time">27 Oktober 202 14:00 WIB</span> 
                                </div>
                                <div class="col-12 col-md-4 col-lg-5 col-xl-4 align-self-end">
                                    <a href="#" class="btn btn-block btn-blue">Lihat Rekaman</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card -->
                
                <!-- pagination -->
                <nav>
                    <ul class="pagination justify-content-end">
                        <li class="page-item page-nav disabled">
                            <a class="page-link" href="#" tabindex="-1"><img src="/img/icons/course-management/chevron-left.png" alt=""></a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link page-nav" href="#"><img src="/img/icons/course-management/chevron-right.png" alt=""></a>
                        </li>
                    </ul>
                </nav>
                <!-- pagination -->
                
            </div>
        </div>
    </div>
</div>