<div class="container">
    <div class="row">

        <div class="col-12 col-sm-6 col-lg-4">
            <!-- card -->
            <div class="card">
                <a href="/package-detail.html"><img src="/img/packages/packages1.jpg" class="card-img-top" alt=""></a>
                <div class="card-body">
                    <h6 class="card-title"><a href="#">Paket Combo Kelas 8 SMP</a></h6>
                    <p class="card-packages">(B. Indonesia, B. Inggris, Matematika)</p>
                    <div class="card-info container">
                        <div class="row vertical-align">
                            <div class="col-8 nopadding">
                                <span class="card-price">Rp. 200.000</span>
                            </div>
                            <div class="col-4 nopadding">
                                <a href="/package-detail.html" class="btn btn-block btn-detail">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card -->
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
            <!-- card -->
            <div class="card">
                <a href="/package-detail-purchased.html"><img src="/img/packages/packages2.jpg" class="card-img-top" alt=""></a>
                <div class="card-body">
                    <h6 class="card-title"><a href="#">Mahir Berbahasa Inggris</a></h6>
                    <p class="card-packages">(Grammar, TOEFL)</p>
                    <div class="card-info container">
                        <div class="row vertical-align">
                            <div class="col-8 nopadding">
                                <span class="card-price">Rp. 200.000</span>
                            </div>
                            <div class="col-4 nopadding">
                                <a href="/package-detail-purchased.html" class="btn btn-block btn-mulai">Mulai</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card -->
        </div>        

        <div class="col-12 col-sm-6 col-lg-4">
            <!-- card -->
            <div class="card">
                <a href="/package-detail.html"><img src="/img/packages/packages3.jpg" class="card-img-top" alt=""></a>
                <div class="card-body">
                    <h6 class="card-title"><a href="#">Paket Combo Kelas 12 SMA IPA</a></h6>
                    <p class="card-packages">(Biologi, Fisika, Kimia)</p>
                    <div class="card-info container">
                        <div class="row vertical-align">
                            <div class="col-8 nopadding">
                                <span class="card-price">Rp. 400.000</span>
                            </div>
                            <div class="col-4 nopadding">
                                <a href="/package-detail.html" class="btn btn-block btn-detail">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card -->
        </div>

    </div>
</div>