<div class="container d-block d-lg-none">
    <div class="row">

        <!-- card -->
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card course-lists">
                <a href="/course-detail.html">
                    <div class="row row-eq-height vertical-align">
                        <div class="image col-5">
                            <img src="/img/packages/packages1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <h6 class="card-title">Paket Combo Kelas 8 SMP</h6>
                            <p class="card-packages">(B. Indonesia, B. Inggris, Matematika)</p>
                            <div class="container">
                                <div class="row vertical-align">
                                    <div class="col-6 col-sm-7 nopadding">
                                        <span class="card-price">Rp. 100.000</span>
                                    </div>
                                    <div class="col-6 col-sm-5 nopadding"><button class="btn btn-block btn-detail">Detail</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- card -->

        <!-- card -->
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card course-lists">
                <a href="/course-detail.html">
                    <div class="row row-eq-height vertical-align">
                        <div class="image col-5">
                            <img src="/img/packages/packages2.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <h6 class="card-title">Mahir Berbahasa Inggris</h6>
                            <p class="card-packages">(Grammar, TOEFL)</p>
                            <div class="container">
                                <div class="row vertical-align">
                                    <div class="col-6 col-sm-7 nopadding">
                                        <span class="card-price">Rp. 100.000</span>
                                    </div>
                                    <div class="col-6 col-sm-5 nopadding"><button class="btn btn-block btn-detail">Detail</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- card -->

        <!-- card -->
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card course-lists">
                <a href="/course-detail.html">
                    <div class="row row-eq-height vertical-align">
                        <div class="image col-5">
                            <img src="/img/packages/packages3.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <h6 class="card-title">Paket Combo Kelas 12 SMA IPA</h6>
                            <p class="card-packages">(Biologi, Fisika, Kimia)</p>
                            <div class="container">
                                <div class="row vertical-align">
                                    <div class="col-6 col-sm-7 nopadding">
                                        <span class="card-price">Rp. 100.000</span>
                                    </div>
                                    <div class="col-6 col-sm-5 nopadding"><button class="btn btn-block btn-detail">Detail</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- card -->

    </div>
</div>