<link rel="stylesheet" href="/css/bottom-menu.css">
<!-- Bottom Navbar -->
<nav id="mobile-menu" class="navbar navbar-expand fixed-bottom d-block d-lg-none">
    <ul class="navbar-nav nav-justified w-100">
      <li class="nav-item">
        <a href="/" class="nav-link home active"><span class="icon-mobile-home"></span>Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link pelajaran"><span class="icon-mobile-book"></span>Pelajaran</a>
      </li>
      <li class="nav-item">
        <a href="/shopping-cart.html" class="nav-link keranjang"><span class="icon-mobile-keranjang"></span>Keranjang</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link akun"><span class="icon-mobile-akun"></span>Akun</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link lainnya" onclick="openNav()"><span class="icon-mobile-lainnya"></span>Lainnya</a>
      </li>
    </ul>
</nav>

<div id="sidebar"></div>

 <script> 
      $("#sidebar").load('/components/main/sidebar.html');
</script> 