<link rel="stylesheet" href="/css/footer.css">

<footer class="d-none d-lg-block">
    <div id="footer-menu">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3 col-lg-4">
                    <h5>Tentang</h5>
                    <ul class="menu">
                        <li><a href="/about-us.html">Tentang Kami</a></li>
                        <li><a href="/contact-us.html">Kontak Kami</a></li>
                    </ul>
                    <div id="sosmed" class="container">
                        <div class="row">
                            <a href="#"><img src="/img/icons/social-media/facebook.png" class="icon-sosmed" alt=""></a>
                            <a href="#"><img src="/img/icons/social-media/twitter.png" class="icon-sosmed" alt=""></a>
                            <a href="#"><img src="/img/icons/social-media/instagram.png" class="icon-sosmed" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-4">
                    <h5>Perusahaan</h5>
                    <ul class="menu">
                        <li><a href="/faq.html">FAQ</a></li>
                        <li><a href="/privacy-policy.html">Kebijakan Privasi</a></li>
                        <li><a href="/terms-conditions.html">Syarat dan Ketentuan</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <h5>Download Sekarang</h5>
                    <div class="row">
                        <div class="col-4 col-md-6"><a href="#"><img src="/img/googleplay.png" alt="" class="img-fluid"></a></div>
                        <div class="col-4 col-md-6"><a href="#"><img src="/img/appstore.png" alt="" class="img-fluid"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            <p class="text-center">© 2021 Dens Academy. All rights reserved.</p>
        </div>
    </div>
</footer>