<link rel="stylesheet" href="/css/mobile-header.css">

<nav id="mobile-navbar" class="navbar d-block d-lg-none">
    <div class="container">
        <div class="row vertical-align">
            <div class="col nopadding">
                <a href="javascript:window.history.back();"><img src="/img/icons/back.png" alt=""></a> <h5>Page Title</h5>
            </div>
            <div class="col nopadding text-right">
                <a href="#"><img src="/img/icons/search-white.png" alt=""></a>
            </div>
        </div>
    </div>
</nav>