<link rel="stylesheet" href="/css/sidebar.css">


<div id="sidebar-collapse" class="collapse d-lg-none">
    <div class="sidebar">
        <div class="row vertical-align">
            <div class="col">
                <img src="/img/logo.png" width="48" alt="">
            </div>
            <div class="col text-right">
                <a href="#" class="sidebar-toggler" data-target="#sidebar-collapse" data-toggle="collapse"><img src="/img/icons/close.png" alt=""></a>
            </div>
        </div>

        <hr class="mt-4 mb-4">

        <ul>
            <li><a href="/about-us.html">Tentang Kami</a></li>
            <li><a href="/faq.html">FAQ</a></li>
            <li><a href="/privacy-policy.html">Kebijakan Privasi</a></li>
            <li><a href="/terms-conditions.html">Syarat & Ketentuan</a></li>
            <li><a href="/contact-us.html">Kontak Kami</a></li>
        </ul>

    </div>
</div>