<link rel="stylesheet" href="/css/sidebar.css">

<div class="sidebar-overlay"></div>

<div id="mySidebar" class="sidebar d-lg-none">
    <div class="sidebar-inner">
        <div class="row vertical-align">
            <div class="col">
                <img src="/img/logo.png" width="48" alt="">
            </div>
            <div class="col text-right">
                <a href="javascript:void(0)" onclick="closeNav()"><img src="/img/icons/close.png" alt=""></a>
            </div>
        </div>
        
        <hr class="mt-4 mb-2">
        
        <ul>
            <li><a href="/about-us.html">Tentang Kami</a></li>
            <li><a href="/faq.html">FAQ</a></li>
            <li><a href="/privacy-policy.html">Kebijakan Privasi</a></li>
            <li><a href="/terms-conditions.html">Syarat & Ketentuan</a></li>
            <li><a href="/contact-us.html">Kontak Kami</a></li>
        </ul>

        <div class="social-media vertical-align">
            <div class="center">
                <a href="#"><img src="/img/icons/social-media/facebook-blue.png" class="icon" alt=""></a>
                <a href="#"><img src="/img/icons/social-media/twitter-blue.png" class="icon" alt=""></a>
                <a href="#"><img src="/img/icons/social-media/instagram-blue.png" class="icon" alt=""></a>
            </div>

        </div>

    </div>
</div>

<script src="/js/sidebar.js"></script>