<link rel="stylesheet" href="../css/categories-mobile.css">
<div id="mobile-categories" class="container">
    <h4>Cobain asiknya belajar di Dens Academy!</h4>

    <div class="dropdown">
        <button class="btn dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pilihan Kategori
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Kurikulum</a>
          <a class="dropdown-item" href="#">Profesional</a>
          <a class="dropdown-item" href="#">Hobi</a>
        </div>
      </div>

</div>