<link rel="stylesheet" href="../css/mobile-header.css">

<nav id="mobile-navbar" class="navbar">
    <div class="container">
        <div class="row vertical-align">
            <div class="col-2 nopadding">
                <a class="navbar-brand" href="#"><img src="img/logo.png" id="logo" alt="" class="img-fluid"></a>
            </div>
            <div class="col-10">
                <form>
                    <input id="mobile-searchbar" class="w-100" type="search" placeholder="Mau belajar apa hari ini?">
                </form>
            </div>
        </div>
    </div>
</nav>