<div id="packages-container" class="card-container container">
    <div class="row vertical-align">
        <div class="col-6">
            <h4>Combo Seru</h4>
        </div>
        <div class="col-6 text-right">
            <a href="#" class="link-viewall">Lihat semua ></a>
        </div>
    </div>

    <div id="packages-carousel" class="owl-carousel">
        <!-- card -->
        <div class="card">
            <a href="#"><img src="../img/packages/packages1.png" class="card-img-top" alt=""></a>
            <div class="card-body">
                <h6 class="card-title"><a href="#">Paket Combo Kelas 8 SMP</a></h6>
                <p class="card-packages">(B. Indonesia, B. Inggris, Matematika)</p>
                <div class="card-info container">
                    <div class="row vertical-align">
                        <div class="col-8 nopadding">
                            <span class="card-price">Rp. 200.000</span>
                        </div>
                        <div class="col-4 nopadding">
                            <a href="#" class="btn btn-block btn-detail">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card -->

        <!-- card -->
        <div class="card">
            <a href="#"><img src="../img/packages/packages2.png" class="card-img-top" alt=""></a>
            <div class="card-body">
                <h6 class="card-title"><a href="#">Mahir Berbahasa Inggris</a></h6>
                <p class="card-packages">(Grammar, TOEFL)</p>
                <div class="card-info container">
                    <div class="row vertical-align">
                        <div class="col-8 nopadding">
                            <span class="card-price">Rp. 200.000</span>
                        </div>
                        <div class="col-4 nopadding">
                            <a href="#" class="btn btn-block btn-detail">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card -->

        <!-- card -->
        <div class="card">
            <a href="#"><img src="../img/packages/packages3.png" class="card-img-top" alt=""></a>
            <div class="card-body">
                <h6 class="card-title"><a href="#">Paket Combo Kelas 12 SMA IPA</a></h6>
                <p class="card-packages">(Biologi, Fisika, Kimia)</p>
                <div class="card-info container">
                    <div class="row vertical-align">
                        <div class="col-8 nopadding">
                            <span class="card-price">Rp. 400.000</span>
                        </div>
                        <div class="col-4 nopadding">
                            <a href="#" class="btn btn-block btn-detail">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card -->

        <!-- card -->
        <div class="card">
            <a href="#"><img src="../img/packages/packages1.png" class="card-img-top" alt=""></a>
            <div class="card-body">
                <h6 class="card-title"><a href="#">Paket Combo Kelas 8 SMP</a></h6>
                <p class="card-packages">(B. Indonesia, B. Inggris, Matematika)</p>
                <div class="card-info container">
                    <div class="row vertical-align">
                        <div class="col-8 nopadding">
                            <span class="card-price">Rp. 200.000</span>
                        </div>
                        <div class="col-4 nopadding">
                            <a href="#" class="btn btn-block btn-detail">Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- card -->

    </div>

</div>

<script> 
    $(function(){
        $('#packages-carousel').owlCarousel({
            loop:false,
            margin:30,
            nav:true,
            navText : ['<img class="icon left" src="../img/icons/left-chevron.png" alt="">','<img class="icon right" src="../img/icons/right-chevron.png" alt="">'],
            dots: false,
            responsive:{
              480:{
                  items:1,
              },
              768:{
                  items:2,
              },
              1279:{
                  items:3,
              },
            }
  
      })
    })
  </script>