<link rel="stylesheet" href="/css/teachers.css">

<div class="container">

    <div id="teacher-heading" class="text-center">
        <h3>Belajar lebih asik<br>bareng pengajar terbaik</h3>
    </div>

    <div class="row">
        <!-- Teacher -->
        <div class="teacher col-4 col-sm-4 col-md-3 col-lg-2 text-center">
            <a href="/teacher-detail.html">
                <img src="/img/teachers/teacher1.jpg" class="rounded-circle img-fluid" alt="">
                <span class="teacher-name">Ismawati</span>
                <span class="teacher-expertise">Pemrograman</span>
            </a>
        </div>
        <!-- Teacher -->

        <!-- Teacher -->
        <div class="teacher col-4 col-sm-4 col-md-3 col-lg-2 text-center">
            <a href="/teacher-detail.html">
                <img src="/img/teachers/teacher2.jpg" class="rounded-circle img-fluid" alt="">
                <span class="teacher-name">Juna R.</span>
                <span class="teacher-expertise">Memasak</span>
            </a>
        </div>
        <!-- Teacher -->

        <!-- Teacher -->
        <div class="teacher col-4 col-sm-4 col-md-3 col-lg-2 text-center">
            <a href="/teacher-detail.html">
                <img src="/img/teachers/teacher3.jpg" class="rounded-circle img-fluid" alt="">
                <span class="teacher-name">Rio Purba</span>
                <span class="teacher-expertise">Desain Grafis</span>
            </a>
        </div>
        <!-- Teacher -->

        <!-- Teacher -->
        <div class="teacher d-none d-lg-block col-md-3 col-lg-2 text-center">
            <a href="/teacher-detail.html">
                <img src="/img/teachers/teacher4.jpg" class="rounded-circle img-fluid" alt="">
                <span class="teacher-name">Dwinawan</span>
                <span class="teacher-expertise">UI</span>
            </a>
        </div>
        <!-- Teacher -->

        <!-- Teacher -->
        <div class="teacher d-none d-md-block col-md-3 col-lg-2 text-center">
            <a href="/teacher-detail.html">
                <img src="/img/teachers/teacher5.jpg" class="rounded-circle img-fluid" alt="">
                <span class="teacher-name">Dewi Nur</span>
                <span class="teacher-expertise">Matematika</span>
            </a>
        </div>
        <!-- Teacher -->

        <!-- Teacher -->
        <div class="teacher d-none d-lg-block col-lg-2 text-center">
            <a href="/teacher-detail.html">
                <img src="/img/teachers/teacher6.jpg" class="rounded-circle img-fluid" alt="">
                <span class="teacher-name">Gerry M.</span>
                <span class="teacher-expertise">Video Editing</span>
            </a>
        </div>
        <!-- Teacher -->

        <div id="teachers-viewall" class="center">
            <a href="/teacher-list.html" class="btn btn-viewall">Lihat Semua Pengajar</a>
        </div>

    </div>
</div>