<link rel="stylesheet" href="/css/form.css">
<link rel="stylesheet" href="/css/shopping-cart.css">
<link rel="stylesheet" href="/css/payment.css">

<div id="payment-method" class="container mt-5">
    <div class="row">

        <div class="col-12 col-lg-8">
            <h4 class="mb-4">Pembayaran</h4>
            <h6>Isi detail kartu</h6>
            <hr>

            <img src="/img/payment/visa.png" alt="" class="payment-logo">
            <p class="d-inline">Kartu Kredit VISA</p>

            <form class="mt-4 mb-4">

                <div class="form-row">
                    <div class="col-12">
                        <input type="text" class="form-control" placeholder="Nomor Kartu">
                        <label>Nomor Kartu</label>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-9">Waktu Kadaluarsa</div>
                    <div class="col-3">CVV</div>
                </div>

                <div class="form-row">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-4">
                                <input type="text" class="form-control" placeholder="MM">
                                <label>MM</label>
                              </div>
                              <div class="col-4">
                                <input type="text" class="form-control" placeholder="YY">
                                <label>YY</label>
                              </div>
                        </div>
                    </div>
   
                    <div class="col-3 align-self-end">
                        <input type="text" class="form-control" placeholder="CVV">
                        <label>CVV</label>
                  </div>
                </div>
            </form>

        </div>

        <div class="d-none d-lg-block col-lg-4">
            <div id="cart-summary" class="card p-4">
                <form id="voucher-form" onsubmit="return false;">
                    <div class="form-row vertical-align">
                        <div class="col-8">
                            <input type="text" class="form-control" placeholder="Masukkan Kode Voucher">
                            <label>Masukkan Kode Voucher</label>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-block btn-white">Gunakan</button>
                        </div>
                    </div>
                </form>
                <hr>
                <h6>Ringkasan Pembelian</h6>
                <div class="row">
                    <div class="col-6">Total (2 Pelajaran)</div>
                    <div class="col-6 text-right">Rp. 600.000</div>
                </div>
                <div class="row">
                    <div class="col-6">Potongan Voucher</div>
                    <div class="col-6 text-right">Rp. 0</div>
                </div>
                <div class="total">
                    <div class="row">
                        <div class="col-6">Total Harga</div>
                        <div class="col-6 text-right">Rp. 600.000</div>
                    </div>
                </div>
                <a href="/payment-success.html" class="btn btn-block btn-yellow">Bayar</a>
            </div>
        </div>

    </div>

</div>