
<!-- Bottom Navbar -->
<nav id="cart-total" class="d-block d-lg-none fixed-bottom">
    <div class="container">
        <div class="row w-100 vertical-align">
            <div class="col-8">
                <small>Total Harga</small>
                <br>
                <span class="price">Rp. 600.000</span>
            </div>
            <div class="buy col-4 nopadding text-right">
                <a href="/checkout.html" class="btn btn-buy">Bayar</a>
            </div>
        </div>
    </div>
</nav>