<div id="cart-summary" class="card p-4">
    <form id="voucher-form" onsubmit="return false;">
        <div class="form-row vertical-align">
            <div class="col-8">
                <input type="text" class="form-control" placeholder="Masukkan Kode Voucher">
                <label>Masukkan Kode Voucher</label>
            </div>
            <div class="col-4">
                <button class="btn btn-block btn-white">Gunakan</button>
            </div>
        </div>
    </form>
    <hr>
    <h6>Ringkasan Pembelian</h6>
    <div class="row">
        <div class="col-6">Total (2 Pelajaran)</div>
        <div class="col-6 text-right">Rp. 600.000</div>
    </div>
    <div class="row">
        <div class="col-6">Potongan Voucher</div>
        <div class="col-6 text-right">Rp. 0</div>
    </div>
    <div class="total">
        <div class="row">
            <div class="col-6">Total Harga</div>
            <div class="col-6 text-right">Rp. 600.000</div>
        </div>
    </div>
    <a href="/checkout.html" class="btn btn-block btn-yellow">Lanjut ke Pembayaran</a>
</div>