<div class="container">
    <div class="row vertical-align">
      <div class="col-2">
        <a href="/course-lists-hobi.html" class="menu-item">
            <img src="../img/icons/hobi/berkebun.png" alt="" class="img-fluid">
            <p>Berkebun</p>
        </a>
        </div>
        <div class="col-2">
        <a href="/course-lists-hobi.html" class="menu-item">
          <img src="../img/icons/hobi/foto.png" alt="" class="img-fluid">
          <p>Fotografi</p>
        </a>
      </div>
        <div class="col-2">
        <a href="/course-lists-hobi.html" class="menu-item">
          <img src="../img/icons/hobi/memasak.png" alt="" class="img-fluid">
          <p>Memasak</p>
        </a>
      </div>
        <div class="col-2">
        <a href="/course-lists-hobi.html" class="menu-item">
          <img src="../img/icons/hobi/musik.png" alt="" class="img-fluid">
          <p>Musik</p>
        </a>
      </div>
        <div class="col-2">
        <a href="/course-lists-hobi.html" class="menu-item">
          <img src="../img/icons/hobi/otomotif.png" alt="" class="img-fluid">
          <p>Otomotif</p>
        </a>
      </div>
    </div>
</div>