<div class="container">
    <div class="row vertical-align">
        <div class="col-2">
            <a href="/learning-path-kurikulum.html" class="menu-item">
                <img src="../img/icons/kurikulum/fisika.png" alt="" class="img-fluid">
                <p>Fisika</p>
            </a>
        </div>
        <div class="col-2">
            <a href="/learning-path-kurikulum.html" class="menu-item">
                <img src="../img/icons/kurikulum/kimia.png" alt="" class="img-fluid">
                <p>Kimia</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/learning-path-kurikulum.html" class="menu-item">
                <img src="../img/icons/kurikulum/matematika.png" alt="" class="img-fluid">
                <p>Matematika</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/learning-path-kurikulum.html" class="menu-item">
                <img src="../img/icons/kurikulum/sejarah.png" alt="" class="img-fluid">
                <p>Sejarah</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/learning-path-kurikulum.html" class="menu-item">
                <img src="../img/icons/kurikulum/biologi.png" alt="" class="img-fluid">
                <p>Biologi</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/learning-path-kurikulum.html" class="menu-item">
                <img src="../img/icons/kurikulum/geografi.png" alt="" class="img-fluid">
                <p>Geografi</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/learning-path-kurikulum.html" class="menu-item">
                <img src="../img/icons/kurikulum/inggris.png" alt="" class="img-fluid">
                <p>Inggris</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/learning-path-kurikulum.html" class="menu-item">
                <img src="../img/icons/kurikulum/kesenian.png" alt="" class="img-fluid">
                <p>Kesenian</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/learning-path-kurikulum.html" class="menu-item">
                <img src="../img/icons/kurikulum/penjas.png" alt="" class="img-fluid">
                <p>Penjas</p>
              </a>
        </div>

    </div>
</div>