
<div class="container d-block d-lg-none">

  <!-- if pelajaran belum ada / kosong
  <div class="col-12 mt-5 mb-5">
    <div class="text-center">
      <img src="/img/icons/files.jpg" alt="">
      <h6 class="cocogoose mt-3">Maaf, pelajarannya belum ada</h6>
      <p>Selesaikan pelajaranmu atau silahkan beli pelajaran terlebih dahulu ya.</p>
    </div>
  </div>
  -->

  <div class="row">
              <div class="col-3 col-md-2">
                <a href="/course-lists-kurikulum.html" class="menu-item mobile">
                  <img src="/img/icons/kurikulum/fisika.png" alt="" class="img-fluid" style="display: flex; justify-content: center;">
                  <p>Fisika</p>
                </a>
              </div>
              <div class="col-3 col-md-2">
                <a href="/course-lists-kurikulum.html" class="menu-item mobile">
                  <img src="/img/icons/kurikulum/kimia.png" alt="" class="img-fluid">
                  <p>Kimia</p>
                </a>
              </div>
              <div class="col-3 col-md-2">
                <a href="/course-lists-kurikulum.html" class="menu-item mobile">
                  <img src="/img/icons/kurikulum/matematika.png" alt="" class="img-fluid">
                  <p>Matematika</p>
                </a>
              </div>
              <div class="col-3 col-md-2">
                <a href="/course-lists-kurikulum.html" class="menu-item mobile">
                  <img src="/img/icons/kurikulum/sejarah.png" alt="" class="img-fluid">
                  <p>Sejarah</p>
                </a>
              </div>
              <div class="col-3 col-md-2">
                <a href="/course-lists-kurikulum.html" class="menu-item mobile">
                  <img src="/img/icons/kurikulum/biologi.png" alt="" class="img-fluid">
                  <p>Biologi</p>
                </a>
              </div>
              <div class="col-3 col-md-2">
                <a href="/course-lists-kurikulum.html" class="menu-item mobile">
                  <img src="/img/icons/kurikulum/geografi.png" alt="" class="img-fluid">
                  <p>Geografi</p>
                </a>
              </div>
              <div class="col-3 col-md-2">
                <a href="/course-lists-kurikulum.html" class="menu-item mobile">
                  <img src="/img/icons/kurikulum/inggris.png" alt="" class="img-fluid">
                  <p>Inggris</p>
                </a>
              </div>

</div>
</div>