<div class="container d-none d-lg-block">

<!-- if pelajaran belum ada / kosong
  <div class="col-12 mt-5 mb-5">
    <div class="text-center">
      <img src="/img/icons/files.jpg" alt="">
      <h6 class="cocogoose mt-3">Maaf, pelajarannya belum ada</h6>
      <p>Selesaikan pelajaranmu atau silahkan beli pelajaran terlebih dahulu ya.</p>
    </div>
  </div>
  -->

    <div class="row vertical-align">
        <div class="col-2">
            <a href="/course-lists-profesional.html" class="menu-item">
                <img src="/img/icons/profesional/android.png" alt="" class="img-fluid">
                <p>Android</p>
            </a>
        </div>
        <div class="col-2">
            <a href="/course-lists-profesional.html" class="menu-item">
                <img src="/img/icons/profesional/apple.png" alt="" class="img-fluid">
                <p>Apple</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/course-lists-profesional.html" class="menu-item">
                <img src="/img/icons/profesional/data.png" alt="" class="img-fluid">
                <p>Data Analis</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/course-lists-profesional.html" class="menu-item">
                <img src="/img/icons/profesional/desaingrafis.png" alt="" class="img-fluid">
                <p>Desain Grafis</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/course-lists-profesional.html" class="menu-item">
                <img src="/img/icons/profesional/tekinformasi.png" alt="" class="img-fluid">
                <p>Teknologi Informasi</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/course-lists-profesional.html" class="menu-item">
                <img src="/img/icons/profesional/programming.png" alt="" class="img-fluid">
                <p>Programming</p>
              </a>
        </div>
    </div>
</div>