<div class="container">
    <div class="row vertical-align">
        <div class="col-2">
            <a href="/learning-path-profesional.html" class="menu-item">
                <img src="../img/icons/profesional/android.png" alt="" class="img-fluid">
                <p>Android</p>
            </a>
        </div>
        <div class="col-2">
            <a href="/learning-path-profesional.html" class="menu-item">
                <img src="../img/icons/profesional/apple.png" alt="" class="img-fluid">
                <p>Apple</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/learning-path-profesional.html" class="menu-item">
                <img src="../img/icons/profesional/data.png" alt="" class="img-fluid">
                <p>Data Analis</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/learning-path-profesional.html" class="menu-item">
                <img src="../img/icons/profesional/desaingrafis.png" alt="" class="img-fluid">
                <p>Desain Grafis</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/learning-path-profesional.html" class="menu-item">
                <img src="../img/icons/profesional/tekinformasi.png" alt="" class="img-fluid">
                <p>Teknologi Informasi</p>
              </a>
        </div>
        <div class="col-2">
            <a href="/learning-path-profesional.html" class="menu-item">
                <img src="../img/icons/profesional/programming.png" alt="" class="img-fluid">
                <p>Programming</p>
              </a>
        </div>
    </div>
</div>