<link rel="stylesheet" href="../../css/categories-navigation-mobile.css">

<div id="kategori-pills" class="container">
    <h4>Pelajar Lainnya Juga Mempelajari</h4>
</div>

<div class="container">
    <div class="row">
                <div class="col-3 col-md-2">
                  <a href="/learning-path-kurikulum.html" class="menu-item mobile">
                    <img src="../img/icons/kurikulum/fisika.png" alt="" class="img-fluid" style="display: flex; justify-content: center;">
                    <p>Fisika</p>
                  </a>
                </div>
                <div class="col-3 col-md-2">
                  <a href="/learning-path-kurikulum.html" class="menu-item mobile">
                    <img src="../img/icons/kurikulum/kimia.png" alt="" class="img-fluid">
                    <p>Kimia</p>
                  </a>
                </div>
                <div class="col-3 col-md-2">
                  <a href="/learning-path-kurikulum.html" class="menu-item mobile">
                    <img src="../img/icons/kurikulum/matematika.png" alt="" class="img-fluid">
                    <p>Matematika</p>
                  </a>
                </div>
                <div class="col-3 col-md-2">
                  <a href="/learning-path-kurikulum.html" class="menu-item mobile">
                    <img src="../img/icons/kurikulum/sejarah.png" alt="" class="img-fluid">
                    <p>Sejarah</p>
                  </a>
                </div>
                <div class="col-3 col-md-2">
                  <a href="/learning-path-kurikulum.html" class="menu-item mobile">
                    <img src="../img/icons/kurikulum/biologi.png" alt="" class="img-fluid">
                    <p>Biologi</p>
                  </a>
                </div>
                <div class="col-3 col-md-2">
                  <a href="/learning-path-kurikulum.html" class="menu-item mobile">
                    <img src="../img/icons/kurikulum/geografi.png" alt="" class="img-fluid">
                    <p>Geografi</p>
                  </a>
                </div>
                <div class="col-3 col-md-2">
                  <a href="/learning-path-kurikulum.html" class="menu-item mobile">
                    <img src="../img/icons/kurikulum/inggris.png" alt="" class="img-fluid">
                    <p>Inggris</p>
                  </a>
                </div>
  
  </div>
  </div>