<link rel="stylesheet" href="../../css/categories-navigation.css">

<div id="kategori-pills" class="container">
  <h4>Pelajar Lainnya Juga Mempelajari</h4>
  </div>

  <div class="container">
  <div class="tab-content">
    <div id="tab-kurikulum" class="tab-pane active">
      <div class="menu-carousel owl-carousel">
          <a href="/learning-path-kurikulum.html" class="menu-item">
              <img src="../img/icons/kurikulum/fisika.png" alt="" class="img-fluid">
              <p>Fisika</p>
          </a>
          <a href="/learning-path-kurikulum.html" class="menu-item">
            <img src="../img/icons/kurikulum/kimia.png" alt="" class="img-fluid">
            <p>Kimia</p>
          </a>
          <a href="/learning-path-kurikulum.html" class="menu-item">
            <img src="../img/icons/kurikulum/matematika.png" alt="" class="img-fluid">
            <p>Matematika</p>
          </a>
          <a href="/learning-path-kurikulum.html" class="menu-item">
            <img src="../img/icons/kurikulum/sejarah.png" alt="" class="img-fluid">
            <p>Sejarah</p>
          </a>
          <a href="/learning-path-kurikulum.html" class="menu-item">
            <img src="../img/icons/kurikulum/biologi.png" alt="" class="img-fluid">
            <p>Biologi</p>
          </a>
          <a href="/learning-path-kurikulum.html" class="menu-item">
            <img src="../img/icons/kurikulum/geografi.png" alt="" class="img-fluid">
            <p>Geografi</p>
          </a>
          <a href="/learning-path-kurikulum.html" class="menu-item">
            <img src="../img/icons/kurikulum/inggris.png" alt="" class="img-fluid">
            <p>Inggris</p>
          </a>
          <a href="/learning-path-kurikulum.html" class="menu-item">
            <img src="../img/icons/kurikulum/kesenian.png" alt="" class="img-fluid">
            <p>Kesenian</p>
          </a>
          <a href="/learning-path-kurikulum.html" class="menu-item">
            <img src="../img/icons/kurikulum/penjas.png" alt="" class="img-fluid">
            <p>Penjas</p>
          </a>
      </div>
    </div>
    <div id="tab-profesional" class="tab-pane fade">
      <div class="menu-carousel owl-carousel">
        <a href="#" class="menu-item">
            <img src="../img/icons/profesional/android.png" alt="" class="img-fluid">
            <p>Android</p>
        </a>
        <a href="#" class="menu-item">
          <img src="../img/icons/profesional/apple.png" alt="" class="img-fluid">
          <p>Apple</p>
        </a>
        <a href="#" class="menu-item">
          <img src="../img/icons/profesional/data.png" alt="" class="img-fluid">
          <p>Data Analis</p>
        </a>
        <a href="#" class="menu-item">
          <img src="../img/icons/profesional/desaingrafis.png" alt="" class="img-fluid">
          <p>Desain Grafis</p>
        </a>
        <a href="#" class="menu-item">
          <img src="../img/icons/profesional/tekinformasi.png" alt="" class="img-fluid">
          <p>Teknologi Informasi</p>
        </a>
      </div>
    </div>
    <div id="tab-hobi" class="tab-pane fade">
      <div class="menu-carousel owl-carousel">
        <a href="#" class="menu-item">
            <img src="../img/icons/hobi/berkebun.png" alt="" class="img-fluid">
            <p>Berkebun</p>
        </a>
        <a href="#" class="menu-item">
          <img src="../img/icons/hobi/foto.png" alt="" class="img-fluid">
          <p>Fotografi</p>
        </a>
        <a href="#" class="menu-item">
          <img src="../img/icons/hobi/memasak.png" alt="" class="img-fluid">
          <p>Memasak</p>
        </a>
        <a href="#" class="menu-item">
          <img src="../img/icons/hobi/musik.png" alt="" class="img-fluid">
          <p>Musik</p>
        </a>
        <a href="#" class="menu-item">
          <img src="../img/icons/hobi/otomotif.png" alt="" class="img-fluid">
          <p>Otomotif</p>
        </a>
      </div>
    </div>
  </div>
</div>
</div>

<script> 
  $(function(){
      $('.menu-carousel').owlCarousel({
          loop:false,
          margin:0,
          nav:true,
          navText : ['<img class="icon left" src="../img/icons/left-chevron.png" alt="">','<img class="icon right" src="../img/icons/right-chevron.png" alt="">'],
          dots: false,
          items:6,
          responsive:{
            768:{
                items:5,
            },
            1368: {
              items:6,
            }
          }

    })
  })
</script>