<link rel="stylesheet" href="/css/page.css">
<link rel="stylesheet" href="/css/form.css">

<div class="page container mt-lg-5">
    <div class="row justify-content-center">
        <div class="mt-lg-5 col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 text-center">

            <img src="/img/icons/sign-in/forgot-password.png" class="mt-5" alt="">
            <h4 class="mt-4 mb-4 cocogoose">Kode Verifikasi</h4>
            <p>Masukkan kode verifikasi yang sudah dikirim ke email rizkyrdwnsyh@gmail.com</p>

            <form action="/verification-success.html" class="mt-4 mb-4">
                <div class="form-row">
                    <div class="col-2">
                        <input type="text" class="form-control otp" maxlength="1" required>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control otp" maxlength="1" required>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control otp" maxlength="1" required>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control otp" maxlength="1" required>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control otp" maxlength="1" required>
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control otp" maxlength="1" required>
                    </div>
                </div>
            
                <div class="text-right">
                    <button type="submit" class="btn btn-block btn-yellow btn-submit" disabled>Lanjutkan</button>
                </div>
            </form>

            <p class="mt-5 mb-5">Belum menerima kode? <a href="#">kirim ulang kode</a></p>

        </div>
    </div>
</div>

<script src="/js/otp.js"></script>