<link rel="stylesheet" href="/css/modal.css">
<link rel="stylesheet" href="/css/course-management.css">

<div id="courses" class="container mt-5">
    <h4>Daftar Sertifikat</h4>
    <div class="card">
        <!-- card certificate -->
        <div class="card-certificate">
            <div class="row vertical-align">
                <div class="col-4 col-md-2">
                    <a href="#" data-toggle="modal" data-target="#modal-certificate"><img src="/img/certificate.jpg" class="img-fluid" alt=""></a>
                </div>
                <div class="col-8 col-md-10">
                    <div class="row vertical-align">
                        <div class="col-12 col-md-9">
                            <a href="#" data-toggle="modal" data-target="#modal-certificate"><h6>Dasar-dasar Desain Grafis</h6></a>
                            <p>Tangga Diperoleh : 30 Maret 2021</p>
                        </div>
                        <div class="col-12 col-md-3 text-md-right">
                            <a href="#" class="btn btn-view-certificate" data-toggle="modal" data-target="#modal-certificate"><i class="bi bi-eye-fill"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- card certificate -->

        <!-- card certificate -->
        <div class="card-certificate">
            <div class="row vertical-align">
                <div class="col-4 col-md-2">
                    <a href="#" data-toggle="modal" data-target="#modal-certificate"><img src="/img/certificate.jpg" class="img-fluid" alt=""></a>
                </div>
                <div class="col-8 col-md-10">
                    <div class="row vertical-align">
                        <div class="col-12 col-md-9">
                            <a href="#" data-toggle="modal" data-target="#modal-certificate"><h6>Titik, Garis, dan Bidang</h6></a>
                            <p>Tangga Diperoleh : 30 Maret 2021</p>
                        </div>
                        <div class="col-12 col-md-3 text-md-right">
                            <a href="#" class="btn btn-view-certificate" data-toggle="modal" data-target="#modal-certificate"><i class="bi bi-eye-fill"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- card certificate -->

        <!-- card certificate -->
        <div class="card-certificate">
            <div class="row vertical-align">
                <div class="col-4 col-md-2">
                    <a href="#" data-toggle="modal" data-target="#modal-certificate"><img src="/img/certificate.jpg" class="img-fluid" alt=""></a>
                </div>
                <div class="col-8 col-md-10">
                    <div class="row vertical-align">
                        <div class="col-12 col-md-9">
                            <a href="#" data-toggle="modal" data-target="#modal-certificate"><h6>Proyeksi</h6></a>
                            <p>Tangga Diperoleh : 30 Maret 2021</p>
                        </div>
                        <div class="col-12 col-md-3 text-md-right">
                            <a href="#" class="btn btn-view-certificate" data-toggle="modal" data-target="#modal-certificate"><i class="bi bi-eye-fill"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- card certificate -->
    </div>
</div>

<!--Modal Certificate -->
<div id="modal-certificate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <!--Content-->
        <div class="modal-content m-0 p-0">
            <!--Body-->
            <div class="modal-body m-0 p-0 text-center">
                <a href="#" class="float-right" data-dismiss="modal"><i class="icon-close bi bi-x"></i></a>
                <img src="/img/certificate.jpg" class="img-certificate img-fluid" alt="">
                <a href="/pdf/certificate.pdf" target="_blank"><i class="bi bi-download"></i> Download Sertifikat</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal Certificate -->