<link rel="stylesheet" href="/css/course-management.css">
<link rel="stylesheet" href="/vendor/fontawesome/css/fontawesome.min.css" />
<link rel="stylesheet" href="/vendor/fontawesome/css/solid.min.css" />

<div id="courses" class="container mt-lg-5">
    <div class="row">

        <!-- desktop -->
        <div class="col-lg-3 d-none d-lg-block">
            <div class="card p-4 mt-0">
                <div class="profile p-3 mb-1 text-center">
                    <img src="/img/teachers/teacher1.jpg" class="img-fluid rounded-circle mb-3" alt="">
                    <h6>Renny Anggraeni</h6>
                </div>
                <hr class="m-0">
                <div class="profile-detail mt-4">
                    <p class="label">Email</p><p>renyanggraeni@gmail.com</p>
                    <p class="label">Nomor Handphone</p><p>081213141516</p>
                    <p class="label">Instagram</p><p>@renyang04</p>
                    <p class="label">Jenis Kelamin</p><p>Perempuan</p>
                    <p class="label">Tanggal Lahir</p><p>12 Januari 2004</p>
                    <p class="label">Alamat</p><p>Jl. Daan mogot KM. 15.6 RT. 001/012 No. 68, Kalideres, Jakarta Barat</p>
                </div>
            </div>
        </div>

        <!-- mobile -->
        <div class="col-12 d-block d-lg-none">
            <div class="row vertical-align">
                <div class="col-5 col-sm-3 pt-4">
                    <img src="/img/teachers/teacher1.jpg" class="img-fluid rounded-circle mb-3" alt="">
                </div>
                <div class="col-7 col-sm-9 p-0">
                    <h6>Renny Anggraeni</h6>
                </div>
            </div>
            
            <div class="profile-detail-mobile">
                <input type="checkbox" class="read-more-state" id="post-1" />
                <div class="read-more-wrap">
                    <p class="label mt-3">Email</p><p>renyanggraeni@gmail.com</p>
                    <hr class="m-0">
                    <p class="label mt-3">Nomor Handphone</p><p>081213141516</p>
                    <hr class="m-0">
                    <p class="label mt-3">Instagram</p><p>@renyang04</p>
                    <hr class="m-0">
                    <div  class="read-more-target">
                        <p class="label mt-3 read-more-target">Jenis Kelamin</p><p class="read-more-target">Perempuan</p>
                        <hr class="m-0 read-more-target">
                        <p class="label mt-3 read-more-target">Tanggal Lahir</p><p class="read-more-target">12 Januari 2004</p>
                        <hr class="m-0 read-more-target">
                        <p class="label mt-3 read-more-target">Alamat</p><p class="read-more-target">Jl. Daan mogot KM. 15.6 RT. 001/012 No. 68, Kalideres, Jakarta Barat</p>
                    </div>
                </div>
                <label for="post-1" class="read-more-trigger"></label>
            </div>
        </div>

        <!-- Laporan Pelajaran -->
        <div class="col-lg-9">
            <h4 class="mb-4 d-none d-lg-block">Laporan Pelajaran</h4>

            <div class="card">

                <h5 class="mb-3">Kurikulum</h5>

                <!-- card -->
                <div class="card-progress no-before">
                    <div class="row row-eq-height">
                        <div class="col-4 col-md-3">
                            <img src="/img/courses/course14.jpg" class="course-image img-fluid" alt="">
                        </div>
                        <div class="col-8 col-md-9">
                            <h6>Titik, Garis, Bidang</h6>
                            <span class="teacher">Dewi Nur</span> 
                            <span class="info">
                                <img src="/img/icons/chapter.png" alt="" class="icon"> 8 Bab
                                <img src="/img/icons/durasi.png" alt="" class="icon"> 100 Menit
                            </span>
                            <div class="row">
                                <div class="col-7 col-md-9 align-self-center">
                                    <div class="percentage d-flex justify-content-between">
                                        <span>Progress</span>
                                        <span>0%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-5 col-md-3 align-self-end">
                                    <a href="/course-report-detail-learner.html" class="btn btn-block btn-start">Detail</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- card -->

                <!-- card -->
                <div class="card-progress no-before">
                    <div class="row row-eq-height">
                        <div class="col-4 col-md-3">
                            <img src="/img/courses/course10.jpg" class="course-image img-fluid" alt="">
                        </div>
                        <div class="col-8 col-md-9">
                            <h6>Titik, Garis, Bidang</h6>
                            <span class="teacher">Dewi Nur</span> 
                            <span class="info">
                                <img src="/img/icons/chapter.png" alt="" class="icon"> 8 Bab
                                <img src="/img/icons/durasi.png" alt="" class="icon"> 100 Menit
                            </span>
                            <div class="row">
                                <div class="col-7 col-md-9 align-self-center">
                                    <div class="percentage d-flex justify-content-between">
                                        <span>Progress</span>
                                        <span>10%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-5 col-md-3 align-self-end">
                                    <a href="/course-report-detail-learner.html" class="btn btn-block btn-start">Detail</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- card -->

                <hr class="mt-2 mb-4">

                <h5 class="mb-3">Hobi</h5>
                <!-- card -->
                <div class="card-progress no-before">
                    <div class="row row-eq-height">
                        <div class="col-4 col-md-3">
                            <img src="/img/courses/course1.jpg" class="course-image img-fluid" alt="">
                        </div>
                        <div class="col-8 col-md-9">
                            <h6>Titik, Garis, Bidang</h6>
                            <span class="teacher">Dewi Nur</span> 
                            <span class="info">
                                <img src="/img/icons/chapter.png" alt="" class="icon"> 8 Bab
                                <img src="/img/icons/durasi.png" alt="" class="icon"> 100 Menit
                            </span>
                            <div class="row">
                                <div class="col-7 col-md-9 align-self-center">
                                    <div class="percentage d-flex justify-content-between">
                                        <span>Progress</span>
                                        <span>100%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-5 col-md-3 align-self-end">
                                    <a href="/course-report-detail-learner.html" class="btn btn-block btn-start">Detail</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- card -->

            </div>
        </div>

    </div>
</div>