<link rel="stylesheet" href="/css/page.css">

<div class="page container mt-lg-5">
    <div class="row justify-content-center">
        <div class="mt-lg-5 col-12 col-lg-5 col-xl-4 text-center">

            <img src="/img/payment-success.jpg" class="img-fluid mt-5" alt="">
            <h4 class="mt-4 mb-4 cocogoose">Verifikasi Berhasil</h4>
            <p>Kamu telah berhasil menambahkan
                <br>rizkyrdwnsyh@gmail.com sebagai pelajar.</p>
            <a href="/course-assignment.html" class="btn btn-yellow mb-5">Lanjutkan</a>

        </div>
        
    </div>

</div>

