<div class="container">
    <div class="row">

        <div class="col-12 col-md-4 col-lg-3">
            <div class="card">
                <a href="#"><img src="../img/courses/course15.png" class="card-img-top" alt=""></a>
                <div class="card-body">
                    <h6 class="card-title"><a href="#">Bidang Ruang</a></h6>
                    <p class="card-teacher">Dewi Nur</p>
                    <div class="card-info container">
                        <div class="row">
                            <div class="col-5 col-md-4 nopadding"><img src="../img/icons/durasi.png" alt="" class="card-icon">8 Bab</div>
                            <div class="col-7 col-md-8 nopadding"><img src="../img/icons/chapter.png" alt="" class="card-icon">100 Menit</div>
                        </div>
                    </div>
                    <span class="card-price">Rp. 100.000</span>
                    <a href="#" class="btn btn-block btn-detail">Detail</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <div class="card">
                <a href="#"><img src="../img/courses/course16.png" class="card-img-top" alt=""></a>
                <div class="card-body">
                    <h6 class="card-title"><a href="#">Titik, Garis, dan Bidang</a></h6>
                    <p class="card-teacher">Dewi Nur</p>
                    <div class="card-info container">
                        <div class="row">
                            <div class="col-5 col-md-4 nopadding"><img src="../img/icons/durasi.png" alt="" class="card-icon">8 Bab</div>
                            <div class="col-7 col-md-8 nopadding"><img src="../img/icons/chapter.png" alt="" class="card-icon">100 Menit</div>
                        </div>
                    </div>
                    <span class="card-price">Rp. 100.000</span>
                    <a href="#" class="btn btn-block btn-detail">Detail</a>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-4 col-lg-3">
            <div class="card">
                <a href="#"><img src="../img/courses/course17.png" class="card-img-top" alt=""></a>
                <div class="card-body">
                    <h6 class="card-title"><a href="#">Proyeksi</a></h6>
                    <p class="card-teacher">Dewi Nur</p>
                    <div class="card-info container">
                        <div class="row">
                            <div class="col-5 col-md-4 nopadding"><img src="../img/icons/durasi.png" alt="" class="card-icon">8 Bab</div>
                            <div class="col-7 col-md-8 nopadding"><img src="../img/icons/chapter.png" alt="" class="card-icon">100 Menit</div>
                        </div>
                    </div>
                    <span class="card-price">Rp. 100.000</span>
                    <a href="#" class="btn btn-block btn-detail">Detail</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <div class="card">
                <a href="#"><img src="../img/courses/course18.png" class="card-img-top" alt=""></a>
                <div class="card-body">
                    <h6 class="card-title"><a href="#">Matematika Peminatan</a></h6>
                    <p class="card-teacher">Dewi Nur</p>
                    <div class="card-info container">
                        <div class="row">
                            <div class="col-5 col-md-4 nopadding"><img src="../img/icons/durasi.png" alt="" class="card-icon">8 Bab</div>
                            <div class="col-7 col-md-8 nopadding"><img src="../img/icons/chapter.png" alt="" class="card-icon">100 Menit</div>
                        </div>
                    </div>
                    <span class="card-price">Rp. 100.000</span>
                    <a href="#" class="btn btn-block btn-detail">Detail</a>
                </div>
            </div>
        </div>

    </div>
</div>