<div class="container">
    <div class="row">

        <!-- card -->
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card course-lists">
                <a href="/course-lists-kurikulum.html">
                    <div class="row row-eq-height vertical-align">
                        <div class="image col-5">
                            <img src="../img/courses/course15.png" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <h6 class="card-title">Bidang Ruang (Dimensi Tiga) I</h6>
                            <p class="card-teacher">Dewi Nur</p>
                            <div class="card-info container">
                                <div class="row">
                                    <div class="col-5 col-sm-3 col-md-4 nopadding"><img src="../img/icons/durasi.png" alt="" class="card-icon">8 Bab</div>
                                    <div class="col-7 col-sm-9 col-md-8 nopadding"><img src="../img/icons/chapter.png" alt="" class="card-icon">100 Menit</div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row vertical-align">
                                    <div class="col-6 col-sm-7 nopadding">
                                        <span class="card-price">Rp. 100.000</span>
                                    </div>
                                    <div class="col-6 col-sm-5 nopadding"><button class="btn btn-block btn-detail">Detail</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- card -->

        <!-- card -->
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card course-lists">
                <a href="/course-lists-kurikulum.html">
                    <div class="row row-eq-height vertical-align">
                        <div class="image col-5">
                            <img src="../img/courses/course16.png" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <h6 class="card-title">Bidang Ruang (Dimensi Tiga) I</h6>
                            <p class="card-teacher">Dewi Nur</p>
                            <div class="card-info container">
                                <div class="row">
                                    <div class="col-5 col-sm-3 col-md-4 nopadding"><img src="../img/icons/durasi.png" alt="" class="card-icon">8 Bab</div>
                                    <div class="col-7 col-sm-9 col-md-8 nopadding"><img src="../img/icons/chapter.png" alt="" class="card-icon">100 Menit</div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row vertical-align">
                                    <div class="col-6 col-sm-7 nopadding">
                                        <span class="card-price">Rp. 100.000</span>
                                    </div>
                                    <div class="col-6 col-sm-5 nopadding"><button class="btn btn-block btn-detail">Detail</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- card -->

        <!-- card -->
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card course-lists">
                <a href="/course-lists-kurikulum.html">
                    <div class="row row-eq-height vertical-align">
                        <div class="image col-5">
                            <img src="../img/courses/course17.png" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <h6 class="card-title">Bidang Ruang (Dimensi Tiga) I</h6>
                            <p class="card-teacher">Dewi Nur</p>
                            <div class="card-info container">
                                <div class="row">
                                    <div class="col-5 col-sm-3 col-md-4 nopadding"><img src="../img/icons/durasi.png" alt="" class="card-icon">8 Bab</div>
                                    <div class="col-7 col-sm-9 col-md-8 nopadding"><img src="../img/icons/chapter.png" alt="" class="card-icon">100 Menit</div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row vertical-align">
                                    <div class="col-6 col-sm-7 nopadding">
                                        <span class="card-price">Rp. 100.000</span>
                                    </div>
                                    <div class="col-6 col-sm-5 nopadding"><button class="btn btn-block btn-detail">Detail</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- card -->

        <!-- card -->
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card course-lists">
                <a href="/course-lists-kurikulum.html">
                    <div class="row row-eq-height vertical-align">
                        <div class="image col-5">
                            <img src="../img/courses/course18.png" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <h6 class="card-title">Bidang Ruang (Dimensi Tiga) I</h6>
                            <p class="card-teacher">Dewi Nur</p>
                            <div class="card-info container">
                                <div class="row">
                                    <div class="col-5 col-sm-3 col-md-4 nopadding"><img src="../img/icons/durasi.png" alt="" class="card-icon">8 Bab</div>
                                    <div class="col-7 col-sm-9 col-md-8 nopadding"><img src="../img/icons/chapter.png" alt="" class="card-icon">100 Menit</div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row vertical-align">
                                    <div class="col-6 col-sm-7 nopadding">
                                        <span class="card-price">Rp. 100.000</span>
                                    </div>
                                    <div class="col-6 col-sm-5 nopadding"><button class="btn btn-block btn-detail">Detail</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- card -->

    </div>
</div>