<div class="container">
    <div class="row">

        <div class="col-12 col-md-6 col-xl-4">
            <div class="card learning-path">
                <a href="/course-lists-kurikulum.html">
                    <div class="row vertical-align">
                        <div class="image col-5">
                            <img src="../img/learning-path/learningpath1.png" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <div class="content">
                                <h6 class="card-title">Bidang Ruang (Dimensi Tiga) I</h6>
                                <p class="card-total-courses">3 Pelajaran</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
            <div class="card learning-path">
                <a href="/course-lists-kurikulum.html">
                    <div class="row vertical-align">
                        <div class="image col-5">
                            <img src="../img/learning-path/learningpath2.png" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <div class="content">
                                <h6 class="card-title">Bidang Ruang (Dimensi Tiga) II</h6>
                                <p class="card-total-courses">3 Pelajaran</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
            <div class="card learning-path">
                <a href="/course-lists-kurikulum.html">
                    <div class="row vertical-align">
                        <div class="image col-5">
                            <img src="../img/learning-path/learningpath3.png" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <div class="content">
                                <h6 class="card-title">Statistika Deskriptif</h6>
                                <p class="card-total-courses">5 Pelajaran</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
            <div class="card learning-path">
                <a href="/course-lists-kurikulum.html">
                    <div class="row vertical-align">
                        <div class="image col-5">
                            <img src="../img/learning-path/learningpath4.png" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <div class="content">
                                <h6 class="card-title">Limit</h6>
                                <p class="card-total-courses">3 Pelajaran</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
            <div class="card learning-path">
                <a href="/course-lists-kurikulum.html">
                    <div class="row vertical-align">
                        <div class="image col-5">
                            <img src="../img/learning-path/learningpath5.png" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <div class="content">
                                <h6 class="card-title">Turunan</h6>
                                <p class="card-total-courses">3 Pelajaran</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
            <div class="card learning-path">
                <a href="/course-lists-kurikulum.html">
                    <div class="row vertical-align">
                        <div class="image col-5">
                            <img src="../img/learning-path/learningpath6.png" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <div class="content">
                                <h6 class="card-title">Integral</h6>
                                <p class="card-total-courses">7 Pelajaran</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
            <div class="card learning-path">
                <a href="/course-lists-kurikulum.html">
                    <div class="row vertical-align">
                        <div class="image col-5">
                            <img src="../img/learning-path/learningpath7.png" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <div class="content">
                                <h6 class="card-title">Aturan Pencacahan</h6>
                                <p class="card-total-courses">4 Pelajaran</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
            <div class="card learning-path">
                <a href="/course-lists-kurikulum.html">
                    <div class="row vertical-align">
                        <div class="image col-5">
                            <img src="../img/learning-path/learningpath8.png" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <div class="content">
                                <h6 class="card-title">Teori Peluang</h6>
                                <p class="card-total-courses">3 Pelajaran</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>