<div class="container">
    <div class="row">

        <div class="col-12 col-md-6 col-xl-4">
            <div class="card learning-path">
                <a href="/course-lists-profesional.html">
                    <div class="row vertical-align">
                        <div class="image col-5">
                            <img src="/img/learning-path/learningpath8.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <div class="content">
                                <h6 class="card-title">Dasar - Dasar Desain Grafis</h6>
                                <p class="card-total-courses">Pelajaran 1</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
            <div class="card learning-path">
                <a href="/course-lists-profesional.html">
                    <div class="row vertical-align">
                        <div class="image col-5">
                            <img src="/img/learning-path/learningpath9.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <div class="content">
                                <h6 class="card-title">Penganalan Tipografi</h6>
                                <p class="card-total-courses">Pelajaran 2</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
            <div class="card learning-path">
                <a href="/course-lists-profesional.html">
                    <div class="row vertical-align">
                        <div class="image col-5">
                            <img src="/img/learning-path/learningpath10.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <div class="content">
                                <h6 class="card-title">Pengenalan Pembuatan Gambar</h6>
                                <p class="card-total-courses">Pelajaran 3</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
            <div class="card learning-path">
                <a href="/course-lists-profesional.html">
                    <div class="row vertical-align">
                        <div class="image col-5">
                            <img src="/img/learning-path/learningpath11.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <div class="content">
                                <h6 class="card-title">Ide dari Sejarah Desain Grafis</h6>
                                <p class="card-total-courses">Pelajaran 4</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 col-xl-4">
            <div class="card learning-path">
                <a href="/course-lists-profesional.html">
                    <div class="row vertical-align">
                        <div class="image col-5">
                            <img src="/img/learning-path/learningpath12.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="description col-7">
                            <div class="content">
                                <h6 class="card-title">Branding</h6>
                                <p class="card-total-courses">Pelajaran 5</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


    </div>
</div>