<link rel="stylesheet" href="../../css/teachers.css">

<div class="container">

    <div class="card contact-card">
        <div class="row">
            <div class="d-none d-md-block col-md-1 col-lg-1"></div>
            <div class="col-5 col-md-3 col-lg-2">
                <img src="../../img/teachers/teacher1.png" class="teacher-image rounded-circle img-fluid" alt="">
            </div>
            <div class="d-none d-md-block col-md-1 col-lg-1"></div>
            <div class="col-7 col-md-7 col-lg-8">
                <h3>Dewi Nur</h3>
                <h5>Matematika</h5>
                <div class="contact-person row">
                    <div class="col-12 col-lg-4">
                        <span><img src="../../img/icons/contact-email.png" class="icon" alt="">dewinur@gmail.com</span>
                    </div>
                    <div class="col-12 col-lg-4">
                        <span><img src="../../img/icons/contact-instagram.png" class="icon" alt="">@dewinur93</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>