<div class="contact-card-mobile">
    <div class="tes container">
        <h3>Dewi Nur</h3>
        <h6>Matematika</h6>
        <div class="col align-self-center text-center">
            <img src="../../img/teachers/teacher1.png" class="teacher-image rounded-circle" alt="">
        </div>
        <div class="contact-person row">
            <div class="col-12 col-lg-4">
                <span><img src="../../img/icons/contact-email.png" class="icon" alt="">dewinur@gmail.com</span>
            </div>
            <div class="col-12 col-lg-4">
                <span><img src="../../img/icons/contact-instagram.png" class="icon" alt="">@dewinur93</span>
            </div>
        </div>
    </div>
</div>