<link rel="stylesheet" href="/css/teachers.css">

<div class="container">
    <div class="row">

        <!-- teacher card -->
        <div class="col-12 col-sm-6 col-lg-4">
                <div class="card">
                    <div class="row vertical-align">
                        <div class="teacher-image col-4">
                            <img src="/img/teachers/teacher1.jpg" class="rounded-circle img-fluid" alt="">
                        </div>
                        <div class="teacher-description col-8">
                            <div class="content">
                                <h6 class="card-title">Ismawati</h6>
                                <p class="card-expertise">Pemrograman</p>
                                <a href="/teacher-detail.html" class="link-detail">Detail ></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- teacher card -->

        <!-- teacher card -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="row vertical-align">
                    <div class="teacher-image col-4">
                        <img src="/img/teachers/teacher2.jpg" class="rounded-circle img-fluid" alt="">
                    </div>
                    <div class="teacher-description col-8">
                        <div class="content">
                            <h6 class="card-title">Juna Rorimpandey</h6>
                            <p class="card-expertise">Memasak</p>
                            <a href="/teacher-detail.html" class="link-detail">Detail ></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- teacher card -->

        <!-- teacher card -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="row vertical-align">
                    <div class="teacher-image col-4">
                        <img src="/img/teachers/teacher3.jpg" class="rounded-circle img-fluid" alt="">
                    </div>
                    <div class="teacher-description col-8">
                        <div class="content">
                            <h6 class="card-title">Rio Purba</h6>
                            <p class="card-expertise">Desain Grafis</p>
                            <a href="/teacher-detail.html" class="link-detail">Detail ></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- teacher card -->

        <!-- teacher card -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="row vertical-align">
                    <div class="teacher-image col-4">
                        <img src="/img/teachers/teacher4.jpg" class="rounded-circle img-fluid" alt="">
                    </div>
                    <div class="teacher-description col-8">
                        <div class="content">
                            <h6 class="card-title">Dwinawan</h6>
                            <p class="card-expertise">UI Desain</p>
                            <a href="/teacher-detail.html" class="link-detail">Detail ></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- teacher card -->

        <!-- teacher card -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="row vertical-align">
                    <div class="teacher-image col-4">
                        <img src="/img/teachers/teacher5.jpg" class="rounded-circle img-fluid" alt="">
                    </div>
                    <div class="teacher-description col-8">
                        <div class="content">
                            <h6 class="card-title">Dewi Nur</h6>
                            <p class="card-expertise">Matematika</p>
                            <a href="#" class="link-detail">Detail ></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- teacher card -->

        <!-- teacher card -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="row vertical-align">
                    <div class="teacher-image col-4">
                        <img src="/img/teachers/teacher6.jpg" class="rounded-circle img-fluid" alt="">
                    </div>
                    <div class="teacher-description col-8">
                        <div class="content">
                            <h6 class="card-title">Gerry M.</h6>
                            <p class="card-expertise">Video Editing</p>
                            <a href="/teacher-detail.html" class="link-detail">Detail ></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- teacher card -->

        <!-- teacher card -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="row vertical-align">
                    <div class="teacher-image col-4">
                        <img src="/img/teachers/teacher7.jpg" class="rounded-circle img-fluid" alt="">
                    </div>
                    <div class="teacher-description col-8">
                        <div class="content">
                            <h6 class="card-title">Rosmiani Hasan</h6>
                            <p class="card-expertise">Matematika</p>
                            <a href="/teacher-detail.html" class="link-detail">Detail ></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- teacher card -->

        <!-- teacher card -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="row vertical-align">
                    <div class="teacher-image col-4">
                        <img src="/img/teachers/teacher8.jpg" class="rounded-circle img-fluid" alt="">
                    </div>
                    <div class="teacher-description col-8">
                        <div class="content">
                            <h6 class="card-title">Muhammad Adi</h6>
                            <p class="card-expertise">Desain Grafis</p>
                            <a href="/teacher-detail.html" class="link-detail">Detail ></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- teacher card -->

        <!-- teacher card -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="row vertical-align">
                    <div class="teacher-image col-4">
                        <img src="/img/teachers/teacher9.jpg" class="rounded-circle img-fluid" alt="">
                    </div>
                    <div class="teacher-description col-8">
                        <div class="content">
                            <h6 class="card-title">Isti</h6>
                            <p class="card-expertise">Biologi</p>
                            <a href="/teacher-detail.html" class="link-detail">Detail <img src="/img/icons/next.png" width="10"></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- teacher card -->

    </div>

    <!-- view more -->
    <div id="teachers-viewall" class="text-center">
        <a href="#" class="btn btn-viewall">Muat lebih banyak</a>
    </div>
    
</div>