<link rel="stylesheet" href="/css/class-syllabus.css">
<script src="/js/class.js"></script>

<div id="class-syllabus" class="right col-12 col-lg-4" >

    <!--Accordion wrapper-->
    <div class="accordion" role="tablist" aria-multiselectable="true">
  
      <!-- Title -->
      <div class="card">
        <div class="card-header card-header-title">
            <h6>Pelajaran yang dibahas</h6>
        </div>
      </div>
  
      <!-- Accordion card -->
      <div class="card">
        <div class="card-header" role="tab" data-toggle="collapse" href="#collapse1" aria-expanded="false">
            <h6><img src="/img/icons/check.png" class="icon" alt=""> Titik Pada Garis</h6>
        </div>
        <div id="collapse1" class="collapse" role="tabpanel">
          <div class="card-body">
              <ul>
                <a href="#" class="link-video">
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</div>
                      <div class="col-3 text-right">10:35</div>
                    </div>
                  </li>
                </a>
                <a href="#" class="link-document">
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</div>
                      <div class="col-3 text-right">PDF</div>
                    </div>
                  </li>
                </a>
                <a href="#" class="link-exam">
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><img src="/img/icons/exam.png" class="icon" alt="">Quiz</div>
                    </div>
                  </li>
                </a>
              </ul>
          </div>
        </div>
      </div>
      <!-- Accordion card -->
    
      <!-- Accordion card -->
      <div class="card">
        <div class="card-header" role="tab" data-toggle="collapse" href="#collapse2" aria-expanded="true">
            <h6>Titik Pada Bidang</h6>
        </div>
        <div id="collapse2" class="collapse show" role="tabpanel">
          <div class="card-body">
            <ul>
              <a href="#" class="link-video">
                <li class="active">
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</div>
                    <div class="col-3 text-right">10:35</div>
                  </div>
                </li>
              </a>
              <a href="#" class="link-document">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</div>
                    <div class="col-3 text-right">PDF</div>
                  </div>
                </li>
              </a>
              <a href="#" class="link-exam">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/exam.png" class="icon" alt="">Quiz</div>
                  </div>
                </li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <!-- Accordion card -->
  
      <!-- Accordion card -->
      <div class="card">
        <div class="card-header" role="tab" data-toggle="collapse" href="#collapse3" aria-expanded="false">
            <h6>Garis Berpotongan dan Berimpit</h6>
        </div>
        <div id="collapse3" class="collapse" role="tabpanel">
          <div class="card-body">
            <ul>
              <a href="#" class="link-video">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</div>
                    <div class="col-3 text-right">10:35</div>
                  </div>
                </li>
              </a>
              <a href="#" class="link-document">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</div>
                    <div class="col-3 text-right">PDF</div>
                  </div>
                </li>
              </a>
              <a href="#" class="link-exam">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/exam.png" class="icon" alt="">Quiz</div>
                  </div>
                </li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <!-- Accordion card -->
  
      <!-- Accordion card -->
      <div class="card">
        <div class="card-header" role="tab" data-toggle="collapse" href="#collapse4" aria-expanded="false">
            <h6>Garis Berpotongan dan Sejajar</h6>
        </div>
        <div id="collapse4" class="collapse" role="tabpanel">
          <div class="card-body">
            <ul>
              <a href="#" class="link-video">
                <li class="active">
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</div>
                    <div class="col-3 text-right">10:35</div>
                  </div>
                </li>
              </a>
              <a href="#" class="link-document">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</div>
                    <div class="col-3 text-right">PDF</div>
                  </div>
                </li>
              </a>
              <a href="#" class="link-exam">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/exam.png" class="icon" alt="">Quiz</div>
                  </div>
                </li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <!-- Accordion card -->
  
      <!-- Accordion card -->
      <div class="card">
        <div class="card-header" role="tab" data-toggle="collapse" href="#collapse5" aria-expanded="false">
            <h6>Garis Sejajar dan Bersilangan</h6>
        </div>
        <div id="collapse5" class="collapse" role="tabpanel">
          <div class="card-body">
            <ul>
              <a href="#" class="link-video">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</div>
                    <div class="col-3 text-right">10:35</div>
                  </div>
                </li>
              </a>
              <a href="#" class="link-document">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</div>
                    <div class="col-3 text-right">PDF</div>
                  </div>
                </li>
              </a>
              <a href="#" class="link-exam">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/exam.png" class="icon" alt="">Quiz</div>
                  </div>
                </li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <!-- Accordion card -->
      
      <!-- Accordion card -->
      <div class="card">
        <div class="card-header" role="tab" data-toggle="collapse" href="#collapse6" aria-expanded="false">
            <h6>Garis Pada Bidang</h6>
        </div>
        <div id="collapse6" class="collapse" role="tabpanel">
          <div class="card-body">
            <ul>
              <a href="#" class="link-video">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</div>
                    <div class="col-3 text-right">10:35</div>
                  </div>
                </li>
              </a>
              <a href="#" class="link-document">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</div>
                    <div class="col-3 text-right">PDF</div>
                  </div>
                </li>
              </a>
              <a href="#" class="link-exam">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/exam.png" class="icon" alt="">Quiz</div>
                  </div>
                </li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <!-- Accordion card -->        
  
      <!-- Accordion card -->
      <div class="card">
        <div class="card-header" role="tab" data-toggle="collapse" href="#collapse7" aria-expanded="false">
            <h6>Garis Tegak Lurus Bidang</h6>
        </div>
        <div id="collapse7" class="collapse" role="tabpanel">
          <div class="card-body">
            <ul>
              <a href="#" class="link-video">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/play.png" class="icon" alt="">Macam-macam Sudut</div>
                    <div class="col-3 text-right">10:35</div>
                  </div>
                </li>
              </a>
              <a href="#" class="link-document">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/pdf.png" class="icon" alt="">Rangkuman</div>
                    <div class="col-3 text-right">PDF</div>
                  </div>
                </li>
              </a>
              <a href="#" class="link-exam">
                <li>
                  <div class="row vertical-align">
                    <div class="col-9"><img src="/img/icons/exam.png" class="icon" alt="">Quiz</div>
                  </div>
                </li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <!-- Accordion card -->


      <!-- Accordion card -->
      <div class="card">
        <div class="card-header" role="tab" data-toggle="collapse" href="#collapse8" aria-expanded="false">
            <h6>Exam</h6>
        </div>
        <div id="collapse8" class="collapse" role="tabpanel">
          <div class="card-body">
              <ul>
                <a href="#" class="link-exam">
                  <li>
                    <div class="row vertical-align">
                      <div class="col-9"><img src="/img/icons/exam.png" class="icon" alt="">Exam</div>
                    </div>
                  </li>
                </a>
              </ul>
          </div>
        </div>
      </div>
      <!-- Accordion card -->
  
    </div>
    <!-- Accordion wrapper -->   
  </div>